@use '../util' as *;

:root {
  // Colors
  --bs-primary: #c5050c;
  --bs-secondary: #777777;
  --bs-primary-rgb: 197, 5, 12;
  --bs-secondary-rgb: 119, 119, 119;
  --clr-nav-hover: #ac040a;

  // Footer gradient
  --clr-gradient-end: #9a060a;
  --clr-gradient-start: #ae0309;

  // --clr-apl-space-gray: #707070; // Apple Space Gray
  // --clr-apl-silver: #c0c0c0; // Apple Silver
  // --clr-apl-starlight: #faf7f2; // Apple Starlight
  // --clr-apl-midnight: #343b43; // Apple Midnight

  // Font-family
  --bs-font-sans-serif: 'Red Hat Text', Helvetica, Arial, sans-serif;
  --bs-font-monospace: 'Red Hat Mono', Monaco, monospace;
  --ff-serif: 'Libre Baskerville', Cambria, Cochin, Georgia, serif;
  --ff-script: 'Dancing Script', cursive, serif;

  // Font-sizes
  --fs-reg: #{rem(16)};
  --fs-small: #{rem(12.8)};
  --fs-xsmall: #{rem(10.24)};
  --fs-default: var(--fs-reg);
  --fs-default-mobile: var(--fs-med);

  --page-max-width: #{rem(1320)};
  --page-max-width-large: #{rem(1400)};

  // Flexbox gap/columns
  --gap: 2rem;
  --columns: 2;

  // Transition
  --transition: all 0.25s ease-in-out;

  // Landing page header clip-path
  --clip-path: polygon(0 15%, 50% 0, 100% 15%, 100% 85%, 50% 100%, 0 85%);
}
