// Breakpoints
$bp-xsmall: 28.125em; // 450px;
$bp-small: 48em; // 768px;
// $bp-menu: 59.6875em; // 955px;
// $bp-menu: 65.375em; // 1046px;
$bp-menu: 70.5625em; // 1129px;
$bp-medium: 64em; // 1024px;
$bp-large: 85.375em; // 1366px;
$bp-xlarge: 120em; // 1920px;
$bp-xxlarge: 160em; // 2560px;

// Media Queries
$mq-xsmall: "screen and (min-width: #{$bp-xsmall})";
$mq-small: "screen and (min-width: #{$bp-small})";
$mq-menu: "screen and (min-width: #{$bp-menu})";
$mq-medium: "screen and (min-width: #{$bp-medium})";
$mq-large: "screen and (min-width: #{$bp-large})";
$mq-xlarge: "screen and (min-width: #{$bp-xlarge})";
$mq-xxlarge: "screen and (min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";
$mq-ie: "all and (-ms-high-contrast: none), (-ms-high-contrast: active)";

// Colors
$primary-color: #c5050c;
$secondary-color: #777777;
$tertiary-color: #6e6e6e;
$success-color: #5cb85c;
$alt-link: #0054ad;
$warning: #fff3d9;
$warning-em: #ffae00;
$danger: #a94442;
$danger-bg: #f2dede;
$alert-color: #ec5840;
$light-gray: #f1f1f1;
$light-gray-2: #e1e1e1;
$light-gray-3: #cacaca;
$dark-gray: #818181;
$black: #3e3e3e;
$white: #fff;
$off-white: #fefefe;
$disabled: #969696;

$default-font-size: 1.7rem;
$default-font-size-mobile: 1.9rem;
$default-page-width: 100rem;
