@use '../util' as *;

.event {
  display: flex;
  flex-direction: column;
  margin-block-end: rem(25);

  @include breakpoint(medium) {
    flex-direction: row;
    align-items: flex-start;

    &:not(:last-child) {
      border-bottom: rem(1) solid var(--bs-gray-100);
    }
  }

  &__date {
    flex: 1 1 100%;
    margin-block-end: rem(15);
    padding: rem(5) rem(10);
    font-size: rem(16);
    background-color: var(--bs-primary);
    color: var(--bs-white);
    text-shadow: 0 rem(1) 0 color-mix(in srgb, var(--bs-gray-dark), #000 5%);
    font-weight: 700;
    text-transform: uppercase;

    @include breakpoint(medium) {
      flex: 0 0 25%;
    }
  }

  &__content {
    flex: 1 1 100%;
    margin-block-end: rem(20);

    &--title {
      font-size: rem(18);
      font-weight: 700;
    }

    &--info {
      margin-block-start: rem(10);

      a:not(.btn) {
        color: blue;
        text-decoration: underline;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: var(--bs-primary);
          transition: color 0.2s ease-in-out;
        }
      }
    }

    @include breakpoint(medium) {
      flex: 1 1 75%;
      padding: 0 rem(10) 0 rem(30);
    }
  }
}
