@use '../util' as *;

.img {
  &__border {
    border: rem(2) solid var(--bs-primary);
    padding: rem(2);

    &-radius {
      border-radius: rem(25);
    }
  }

  &__center {
    margin-inline: auto;
  }
}
