@use '../util' as *;

.table {
  .table {
    &-heading {
      background-color: var(--clr-primary);
      color: var(--clr-white);
    }
  }
}

// Monthly coupons
#couponbook {
  width: 100%;
  max-width: 100%;
  margin: rem(10) auto;
  text-align: center;
}

.coupons {
  ul {
    list-style: none;

    li {
      position: relative;
      list-style: none;
      width: auto;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      margin: 0 0 rem(20) 0;
      background: transparent;
      border: rem(2) dashed var(--clr-light-gray-3);
      cursor: pointer;

      .check {
        background-image: url('https://www.uwbookstore.com/SiteImages/11-SchoolImages/11-coupons/11-pagecurl.png');
        background-position: 0 0;
        background-repeat: no-repeat;
        position: absolute;
        top: rem(-2);
        left: rem(-3);
        height: rem(43);
        width: rem(36);
      }

      img {
        margin: auto;
      }

      @include breakpoint(medium) {
        margin: 0 rem(10) rem(20);
        width: rem(500);
      }

      &.print {
        .check {
          background-position: rem(-72) 0;
        }
      }
    }
  }
}

/* =displays */
@media print {
  .donotprint {
    display: none;
  }
  .printonly {
    display: block;
  }
  body {
    background-color: #fff;
  }
}
@media screen {
  .printonly {
    display: none;
  }
  .speakonly,
  .accessKey {
    display: none;
  }
}
@media speech {
  .donotspeak {
    speak: never;
  }
  .speakonly,
  .accessKey {
    speak: never;
  }
}

@media print {
  #couponbook .coupons {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
  }
  .coupons ul li .check,
  #couponbook .coupons ul li {
    display: none;
  }
  #couponbook .coupons ul li.print {
    display: inline-block;
    width: 45%;
  }
  #couponbook .coupons ul li .coupon {
    position: relative;
  }
  #ubsHead,
  [id*='div_bottom_sec'],
  [id*='div_top_sec'],
  .printbutton {
    display: none;
  }
}

.framing {
  img {
    border: rem(2) solid var(--clr-primary);
    padding: rem(5);
    margin-inline: auto;
  }

  blockquote {
    font-size: rem(12);
    font-style: italic;
    font-weight: 400;
    margin: 0 0 rem(20);
    line-height: 1.5;
    border-left: none;
    padding: 0;
    text-align: center;

    cite {
      display: block;

      &::before {
        content: ' - ';
      }
    }
  }

  .row {
    [class^='col-'] {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      justify-content: center;
      padding-inline: rem(10);
    }
  }

  figcaption {
    margin-top: rem(10);
    text-align: center;
  }
}

// email signup
.asterisk {
  font-size: 150%;
  font-weight: normal;
  position: relative;
  top: rem(5);
}

#emailHelp {
  font-size: rem(14);
}

p.merch-gm.bold.red {
  display: none;
}
