@use '../util' as *;

.table {
  &-heading {
    background-color: var(--clr-primary) !important;
    color: var(--clr-white);
  }
}

// Monthly coupons
#couponbook {
  width: 100%;
  max-width: 100%;
  margin: 1rem auto;
  text-align: center;
}

.coupons {
  ul {
    list-style: none;

    li {
      position: relative;
      list-style: none;
      width: auto;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      margin: 0 0 2rem 0;
      background: transparent;
      border: 2px dashed var(--clr-light-gray-3);
      cursor: pointer;

      .check {
        background-image: url('https://www.uwbookstore.com/SiteImages/11-SchoolImages/11-coupons/11-pagecurl.png');
        background-position: 0 0;
        background-repeat: no-repeat;
        position: absolute;
        top: -2px;
        left: -3px;
        height: 4.3rem;
        width: 3.6rem;
      }

      img {
        margin: auto;
      }

      @include breakpoint(medium) {
        margin: 0 1rem 2rem;
        width: 50rem;
      }

      &.print {
        .check {
          background-position: -7.2rem 0;
        }
      }
    }
  }
}

/* =displays */
@media print {
  .donotprint {
    display: none;
  }
  .printonly {
    display: block;
  }
  body {
    background-color: #fff;
  }
}
@media screen {
  .printonly {
    display: none;
  }
  .speakonly,
  .accessKey {
    display: none;
  }
}
@media speech {
  .donotspeak {
    speak: never;
  }
  .speakonly,
  .accessKey {
    speak: never;
  }
}

@media print {
  #couponbook .coupons {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
  }
  .coupons ul li .check,
  #couponbook .coupons ul li {
    display: none;
  }
  #couponbook .coupons ul li.print {
    display: inline-block;
    width: 45%;
  }
  #couponbook .coupons ul li .coupon {
    position: relative;
  }
  #ubsHead,
  [id*='div_bottom_sec'],
  [id*='div_top_sec'],
  .printbutton {
    display: none;
  }
}

.framing {
  img {
    border: 2px solid var(--clr-primary);
    padding: 5px;
    margin-inline: auto;
  }

  blockquote {
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 400;
    margin: 0 0 2rem;
    line-height: 1.5;
    border-left: none;
    padding: 0;
    text-align: center;

    cite {
      display: block;

      &::before {
        content: ' - ';
      }
    }
  }

  .row {
    [class^='col-'] {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      justify-content: center;
      padding-inline: 1rem;
    }
  }

  figcaption {
    margin-top: 1rem;
    text-align: center;
  }
}

// email signup
.asterisk {
  font-size: 150%;
  font-weight: normal;
  position: relative;
  top: 5px;
}

#emailHelp {
  font-size: 1.4rem;
}
