@use '../util' as *;

.table {
  .table {
    &-heading {
      background-color: var(--bs-primary);
      color: var(--bs-white);
    }
  }
}

/* =displays */
@media print {
  .donotprint {
    display: none;
  }
  .printonly {
    display: block;
  }
  body {
    background-color: #fff;
  }
}
@media screen {
  .printonly {
    display: none;
  }
  .speakonly,
  .accessKey {
    display: none;
  }
}
@media speech {
  .donotspeak {
    speak: never;
  }
  .speakonly,
  .accessKey {
    speak: never;
  }
}

.framing {
  img {
    border: rem(2) solid var(--bs-primary);
    padding: rem(5);
    margin-inline: auto;
  }

  blockquote {
    font-size: rem(12);
    font-style: italic;
    font-weight: 400;
    margin: 0 0 rem(20);
    line-height: 1.5;
    border-left: none;
    padding: 0;
    text-align: center;

    cite {
      display: block;

      &::before {
        content: ' - ';
      }
    }
  }

  .row {
    [class^='col-'] {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      justify-content: center;
      padding-inline: rem(10);
    }
  }

  figcaption {
    margin-top: rem(10);
    text-align: center;
  }
}

// email signup
#mc_embed_signup {
  .asterisk {
    font-size: 150%;
    font-weight: normal;
    position: relative;
    top: rem(5);
    color: var(--bs-primary);
  }

  ul {
    margin: 0;
    padding: 5px 0;
    list-style: none;

    li {
      display: block;
      padding: 3px 0;
      margin: 0;
    }
  }

  #emailHelp {
    font-size: rem(14);
  }
}

p.merch-gm.bold.red {
  display: none;
}
