@use '../util' as *;

.meganav {
  width: 100%;
  margin: 0;
  flex-direction: row;

  &__tabs {
    background-color: var(--clr-light-gray-2);
    flex: 0;

    @include breakpoint(medium) {
      flex: 0 0 rem(300);
    }

    &-list {
      list-style-type: none;
      margin-bottom: 0;
      padding: 0;

      li {
        background-color: var(--clr-light-gray-2);
      }

      a,
      .meganav__tabs--link {
        display: block;
        color: var(--bs-gray-dark);
        padding: rem(10) rem(20);
        text-decoration: none;
        line-height: rem(14);
        text-shadow: 0 rem(1) 0 var(--bs-white);
        font-weight: 700;
        transition: all 0.2s;
        border-bottom: rem(1) solid var(--clr-light-gray-3);

        &-active,
        &:hover {
          color: var(--bs-primary);
          text-decoration: none;
          background-color: var(--bs-white);
          border-bottom-color: currentColor;
        }
      }
    }
  }

  &__title {
    text-transform: uppercase;
    margin: rem(20) 0;
    font-size: rem(25);
  }

  &__wrap {
    background-color: var(--clr-off-white);
    flex: 1;
    padding: 0;
    &--item {
      display: flex;
    }
  }

  &__menu {
    list-style-type: none;
    justify-content: center;
    flex: 1;

    @include breakpoint(medium) {
      flex: 0 0 100%;
      margin-right: rem(20);
      align-self: flex-start;
    }

    li {
      flex: 1 1 100%;
      text-align: center;

      @include breakpoint(medium) {
        flex: 0 0 25%;
      }
      &.dup-dn {
        display: none;
      }
    }

    &.gift-items {
      flex: 1 1 100%;

      li {
        @include breakpoint(medium) {
          flex: 0 0 20%;
        }
      }
    }

    a {
      position: relative;
      color: var(--bs-gray-dark);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-block: rem(15);
      font-size: rem(18);
      line-height: 1;
      opacity: 0.75;
      margin-bottom: rem(15);

      &::before,
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        border-bottom: rem(1) solid var(--bs-primary);
        width: 0;
        transition: var(--transition);
      }

      &::before {
        right: 50%;
      }

      &::after {
        left: 50%;
      }

      &:hover::before,
      &:hover::after {
        width: 50%;
      }

      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        opacity: 1;
      }

      &:focus-visible {
        text-decoration: underline;
      }

      @include breakpoint(medium) {
        padding-block: rem(10);
      }
    }

    &--img {
      display: none;

      @include breakpoint(medium) {
        display: block;
        flex: 1 1 30%;

        img {
          margin: 0 auto;
        }
      }
    }
  }
}

.sidenav {
  list-style: none;
  border: rem(1) solid var(--clr-off-white);
  margin: 0;
  padding: 0;

  li {
    padding: rem(10);
    border-bottom: rem(1) solid var(--clr-light-gray-3);
    transition: background-color 0.25s ease-in-out;

    &:hover {
      background-color: var(--clr-light-gray-3);
    }

    a {
      &:link,
      &:visited {
        display: block;
        padding: rem(5) rem(10);
      }
    }

    h2 {
      &.nav-title {
        a {
          display: block;
          background-color: #000;
          font-size: rem(16);
          color: var(--bs-white);
        }
      }
    }
  }

  @include breakpoint(medium) {
    border: none;
    padding-left: rem(30);

    li {
      border: none;
      padding: 0;

      &:hover {
        background-color: transparent;
      }

      a {
        &:link,
        &:visited {
          display: inline-block;
          padding: rem(5);
          color: color-mix(in srgb, var(--bs-gray-dark), #fff 10%);
          transition: color 0.25s ease-in-out;

          &:hover {
            text-decoration: none;
            color: var(--bs-primary);
          }
        }
      }
    }
  }
}
