.carousel {
    // margin-top: 1rem;
    border: 1px solid $light-gray-2;
    // border-top: none;

    .img {
        &-small {
            @media #{$mq-small} {
                display: none !important;
            }
        }

        &-medium {
            display: none !important;

            // @media #{$mq-xsmall} {
            //     display: block !important;
            // }

            // @media #{$mq-small} {
            //     display: none !important;
            // }
        }

        &-large {
            display: none !important;

            @media #{$mq-small} {
                display: block !important;
            }
        }
    }

    @media #{$mq-small} {
        // margin-top: 2rem;
    }
}

.carousel-control.left,
.carousel-control.right {
    color: darken($light-gray-3, 10%);
    background-image: none;
    opacity: 1;
    width: 2.5%;
    // display: none;
}

.carousel-indicators {
    display: none;
}

@media #{$mq-medium} {
    .carousel-indicators {
        display: block;
        bottom: 0;
    }

    .carousel-indicators li,
    .carousel-indicators .active {
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 100%;
    }

    .carousel-indicators li {
        border: 2px solid darken($light-gray-3, 10%);
    }

    .carousel-indicators .active {
        background-color: darken($light-gray-3, 10%);
    }
}
