*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/*  GROUPING  */
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}

html,
body {
    margin: 0px auto;
    width: 100%;
    box-sizing: border-box;
    background: $white;
    color: $black;
}

body {
    position: relative;
}

.scroll-margin {
    margin-top: 5rem;
}

.entry-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 700;
    }
}

.ie-fix {
    @media #{$mq-ie} {
        background-color: $white;
    }
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

// html {
//     scrollbar-color: #666 #201c29;
//     overflow-x: hidden;
// }
// html::-webkit-scrollbar {
//     width: 1.5rem;
//     height: 1.5rem;
// }
// html::-webkit-scrollbar-thumb {
//     background: linear-gradient(180deg, lighten($primary-color, 25%), lighten($primary-color, 45%));
//     border-radius: 5px;
//     box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
// }
// html::-webkit-scrollbar-track {
//     background: $light-gray-3;
// }
