// Create some space under the
// iCM editor menu since we use
// a negative top margin on the
// hero images.
#modMenu {
    margin-bottom: 2rem;
}

header,
footer {
    display: none;
}

#ContainDiv {
    // margin-top: 2rem;
    background-color: $white;
    padding: 0;
}

#contentSection {
    padding: 0 5px;

    @media #{$mq-medium} {
        padding: 0;
    }
}

#hScript,
#fScript {
    font-family: Monaco, monospace;
    font-size: 1.4rem;
    width: 100%;
}

// HIDE ALL UNNECESSARY MBS ELEMENTS
#Cart,
#h_nav,
#div_privacy,
.firstBackward,
.lastForward,
.help.textr,
.prev_link,
.loginDisclaimer,
.custLogoutHelpWrapper,
.lostPasswordHelp,
#Server,
#custBillMI,
#custShipMiddle,
.loyaltyRedeemLink,
#needHelp,
a#goToTop,
.disco {
    display: none !important;
}

.page_header {
    display: none;
}

#custAddInfoWrap,
#loyaltyWrap,
#custEmailOptWrap,
#custSMSOptWrap {
    padding: 0;
}

// .searchGiftEventText, .eventMonthSelect, .eventYearSelect, #giftRegistry_eventDate, .giftRegDateText, p.giftRegMessageText, #giftRegistry_Message {
//     display: none;
// }

// .displayn {
//     display: none;
// }

// .faa-shake.animated {
//     animation: none;
// }

// MBS apparently thinks folks will
// only want to use the colors MBS
// chooses.

/*.radioButton,*/
input[class^="radio"] {
    & + span {
        &::before {
            width: 1.2rem;
            height: 1.2rem;
            vertical-align: 0;
        }
    }

    &:checked {
        & + span {
            &::before {
                background-color: $primary-color;
            }
        }
    }
}

// .copy-clip {
//     width: 100%;

//     .input-group {
//         width: 100%;
//     }

//     .input-group-addon {
//         width: 4rem !important;
//         cursor: pointer;
//         padding: 0;

//         button {
//             margin: 0;
//             border: none !important;
//             background: transparent;
//         }

//         img {
//             width: 1.3rem;
//         }

//         .btn-copy {
//             padding: 0.6rem 1.2rem;
//         }
//     }
// }

#success-msg,
#error-msg {
    display: none;
}

.wl-share {
    .ib {
        div {
            display: inline-block;
        }
    }
    a.btn {
        display: inline-block;
        margin: 1.5rem 0;

        &:first-child {
            margin-right: 2rem;
        }
    }
}
