.jumbotron {
    &.example-grid {
        background: url("https://i.univbkstr.com/text/images/bg1.jpg") no-repeat top center;
        background-size: cover;
        padding: 0;
        margin-bottom: 2.5rem;
    }

    h2 {
        color: $white;
    }
}

.dt-hide {
    @media #{$mq-medium} {
        display: none;
    }
}

.mobi-hide {
    display: none;

    @media #{$mq-medium} {
        display: block;
    }
}

.block {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.6rem;
}

.b-l {
    border-left: 1px solid $light-gray-3;
}
