.dt-hide {
  @media #{$mq-medium} {
    display: none;
  }
}

.mobi-hide {
  display: none;

  @media #{$mq-medium} {
    display: block;
  }
}

.block {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 1.6rem;
}

.b-l {
  border-left: 1px solid $light-gray-3;
}

.external {
  position: relative;

  em {
    display: inline-block;
    position: absolute;
    top: 1.6rem;
    right: 1.5rem;
    font-size: 1.8rem;

    @media #{$mq-medium} {
      top: 0.5rem;
      right: 2.5rem;
      font-size: 1.4rem;
    }
  }
}
