.box {
  width: 100%;
  height: 100%;

  &__gray {
    background-color: $light-gray;
    border: 1px solid darken($light-gray, 5%);
    margin-bottom: 2rem;
    padding: 2rem;

    h5 {
      font-size: 1.8rem;
      font-weight: 700;
      margin: 2rem 0 0.5rem;
    }

    hr {
      border-top-color: $light-gray-3;
    }
  }

  &__blue {
    background-color: #2da9d7;
    color: $white;
    padding: 3rem;
    margin: 3rem auto;
  }

  &__black {
    background-color: darken($black, 8%);
    color: $white;
    padding: 2rem;
  }

  .card {
    margin: 0;
  }
}

.card {
  &-header {
    &-ubs {
      color: $white;
      background-color: $primary-color;
      border-color: darken($primary-color, 10%);
      padding: 0.5rem 1.5rem;
      margin-bottom: 2rem;

      a {
        &:link,
        &:visited {
          color: $white;
          display: block;
          text-transform: uppercase;
          font-size: 2.4rem;
          text-decoration: none;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
