.header {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 160rem;

  &__ubs--logo {
    background: $white;
    padding: 2.5rem 1.5rem;
    margin: auto;

    h1 {
      margin-bottom: 0;
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: auto;
    }
  }

  @media #{$mq-menu} {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 3rem;

    &__ubs--logo {
      margin: 0;
    }
  }

  @media #{$mq-large} {
    padding-inline: 0;
  }
}

// Mobile Navbar & Toggle
.navbar {
  &__links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 1.5rem;
    background-color: $primary-color;
    color: $white;
    list-style: none;
    margin: 0;

    &--item {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      height: 6.5rem;
      width: 7rem;
      text-align: center;

      i,
      em {
        font-size: 3.5rem;
      }

      span {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 600;
      }

      a,
      button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        color: inherit;
      }

      .header__toggle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }

      .navbar-toggler {
        padding: 0;
      }
    }
  }

  &-toggle {
    cursor: pointer;
    display: block;
    background: transparent;
    line-height: 1;
    padding-inline: 1.5rem;
    transition: var(--transition);
    border: none;
    color: inherit;
  }

  &__search {
    background: transparent;
    border: none;
    color: inherit;
    position: relative;
  }

  @media #{$mq-menu} {
    &__links {
      justify-content: flex-end;
      background-color: var(--clr-white);
      color: var(--clr-black);
      width: 50%;
      gap: 2rem;

      &--item {
        height: auto;
        gap: 5px;

        i,
        em {
          font-size: 2.4rem;
        }

        a {
          text-align: center;
          width: 100%;
          span {
            transition: var(--transition);
          }
          &:hover span,
          &:focus span {
            color: var(--clr-primary);
          }
        }
      }

      & .search {
        order: -1;
        // align-items: flex-end;
      }
      & .toggle {
        display: none;
      }
    }

    &__search {
      order: -1;
    }
  }
}

// Search form
.search {
  &__form {
    display: none;
  }

  &.open {
    .search__form {
      display: block;
      gap: 0;
      position: absolute;
      padding: 3rem 1.5rem;
      background-color: var(--clr-light-gray);
      left: 0;
      right: 0;
      top: 9.5rem;
      width: 100%;
      height: auto;
      z-index: 200;
      box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);

      &--input {
        position: relative;
        width: 100%;

        input {
          height: 5rem;
          padding-inline: 1.5rem;
          border: 1px solid var(--clr-light-gray-3);
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom: none;
          font-size: inherit;
        }
      }

      &--submit {
        width: 100%;
        button {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          justify-content: center;
          font-size: 2.5rem;
          width: 100%;
          height: 5rem;

          em {
            font-style: normal;
          }
        }
      }
    }
  }

  @media #{$mq-menu} {
    width: 100%;
    max-width: 50rem;

    #search {
      display: none;
    }

    &__form {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      position: relative;

      &--input {
        width: 90%;

        input {
          font-size: inherit;
          border: none;
          border-bottom: 1px solid $black;
          border-radius: unset;
          width: 100%;
          display: inline;
          box-shadow: none;
          padding-left: 1rem;
          height: 3.5rem;
        }
      }

      &--submit {
        position: absolute;
        button {
          font-size: inherit;
          background-color: transparent;
          border: none;
          color: var(--clr-black);

          em.fa {
            font-size: 2.4rem;
          }

          &:hover,
          &:focus {
            background-color: transparent;
            color: var(--clr-primary);
          }
        }
      }
    }
  }
}

.item-hdr {
  font-weight: 700;
  background-color: #000;
  color: #fff;
  padding: 2px 5px;
}

.backtotop {
  display: none;
  position: fixed;
  z-index: 9999999999999;
  bottom: 4rem;
  right: 4rem;
  width: 5rem;
  height: 5rem;
}

.backtotop a {
  &:link,
  &:visited {
    display: block;
    opacity: 1;
    width: 5rem;
    height: 5rem;
    background: darken($primary-color, 10%);
    border: 1px solid darken($primary-color, 12%);
    border-radius: 0;
    outline: 0;
    position: absolute;
    transition: all 0.2s ease;
    opacity: 0.7;

    @media #{$mq-medium} {
      // border-radius: 0;
      height: 4rem;
      width: 4rem;
    }
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1px 2px rgba($black, 0.6);
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 2px 4px rgba($black, 0.8);
  }
}

.backtotop em {
  @include absCenter;
  color: $white;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .dropdown:hover > .dropdown-menu {
    display: none;
  }

  .dropdown:hover > .dropdown-menu.show {
    display: block;
  }
}
