@use '../util' as *;

.Accordion {
  margin: 0 auto;
  padding: 0;
  border: rem(1) solid var(--bs-gray-300);
  width: 100%;

  h3 {
    margin: 0;
    padding: 0;
  }

  &.focus {
    border-color: hsl(216, 94%, 73%);

    h3 {
      background-color: var(--bs-gray-100);
    }
  }

  > * + * {
    border-top: rem(1) solid var(--bs-gray-300);
  }

  &-trigger {
    background-color: var(--bs-gray-100);
    color: var(--bs-gray-dark);
    display: block;
    font-size: rem(16);
    font-weight: normal;
    margin: 0;
    padding: rem(10);
    position: relative;
    text-align: left;
    width: 100%;
    outline: none;

    &:focus,
    &:hover {
      background-color: color-mix(in srgb, var(--bs-gray-100), #000 3%);
    }

    &:focus .Accordion-title {
      border-color: hsl(216, 94%, 73%);
    }

    &:focus .Accordion-icon,
    &:hover .Accordion-icon {
      border-color: hsl(216, 94%, 73%);
    }

    &[aria-expanded='true'] .Accordion-icon {
      transform: translateY(-50%) rotate(-135deg);
      transition: all 0.25s ease-in-out;
    }
  }

  &-icon {
    border: solid hsl(0, 0%, 62%);
    border-width: 0 rem(2) rem(2) 0;
    height: rem(8);
    pointer-events: none;
    position: absolute;
    right: rem(32);
    top: 50%;
    transform: translateY(-60%) rotate(45deg);
    width: rem(8);
    transition: all 0.25s ease-in-out;
  }

  button {
    border-style: none;

    &::-moz-focus-inner {
      border: 0;
    }
  }

  &-title {
    display: block;
    pointer-events: none;
    border: transparent rem(1) solid;
    outline: none;
  }

  &-panel {
    margin: 0;
    padding: rem(15);

    /* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/4806035/ */
    &[hidden] {
      display: none;
    }

    ul {
      list-style: circle;
      margin-left: rem(20);
      padding-bottom: rem(15);
    }
  }
}
