@use '../util' as *;

.box {
  width: 100%;
  height: 100%;

  &__gray {
    background-color: var(--clr-light-gray);
    border: rem(1) solid color-mix(in srgb, var(--clr-light-gray), #000 5%);
    margin-bottom: rem(20);
    padding: rem(20);

    h5 {
      font-size: rem(18);
      font-weight: 700;
      margin: rem(20) 0 rem(5);
    }

    hr {
      border-top-color: var(--clr-light-gray-3);
    }
  }

  &__blue {
    background-color: #2da9d7;
    color: var(--bs-white);
    padding: rem(30);
    margin: rem(30) auto;
  }

  &__black {
    background-color: color-mix(in srgb, var(--clr-light-gray), #000 8%);
    color: var(--bs-white);
    padding: rem(20);
  }

  .card {
    margin: 0;
  }
}

.card {
  &-header {
    font-weight: 700;

    &-ubs {
      color: var(--bs-white);
      background-color: var(--bs-primary);
      border-color: color-mix(in srgb, var(--bs-primary), #000 10%);
      padding: rem(5) rem(1.5);
      margin-bottom: rem(20);
      font-weight: normal;

      a {
        &:link,
        &:visited {
          color: var(--bs-white);
          display: block;
          text-transform: uppercase;
          font-size: rem(24);
          text-decoration: none;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
