@use '../util' as *;

.carousel {
  // margin-top: 1rem;
  // border-top: none;

  &-item {
    img {
      border: rem(1) solid lightslategray;
      text-align: center;
    }
  }
}

.carousel-control-prev,
.carousel-control-next,
.carousel-control.left,
.carousel-control.right {
  color: color-mix(in srgb, var(--bs-black), #000 10%);
  background-image: none;
  opacity: 1;
  width: 10%;
}

.carousel-control-prev-icon {
  background-image: url(https://i.univbkstr.com/v3/img/pages/home/rotator/controls/chevron-left.svg);
}
.carousel-control-next-icon {
  background-image: url(https://i.univbkstr.com/v3/img/pages/home/rotator/controls/chevron-right.svg);
}

.carousel-indicators {
  display: none;
}

@include breakpoint(medium) {
  .carousel-indicators {
    position: absolute;
    bottom: rem(-40);
    left: 50%;
    z-index: 0;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
    display: block;

    [data-bs-target] {
      display: inline-block;
      width: rem(10);
      height: rem(10);
      margin: rem(1);
      text-indent: rem(-999);
      cursor: pointer;
      background-color: #000 \9;
      background-color: rgba(0, 0, 0, 0);
      border: rem(1) solid var(--bs-gray-dark);
      border-radius: rem(10);
    }
  }

  .carousel-indicators button {
    display: inline-block;
    width: rem(10);
    height: rem(10);
    margin: rem(1);
    text-indent: rem(-999);
    cursor: pointer;
    border-radius: rem(10);
  }

  .carousel-indicators button,
  .carousel-indicators .active {
    height: rem(12);
    width: rem(12);
    border-radius: 100%;
  }

  .carousel-indicators button {
    background-color: transparent;
    border: rem(2) solid var(--bs-gray-dark);
  }

  .carousel-indicators button.active {
    background-color: var(--bs-gray-dark);
  }

  .carousel-control-prev,
  .carousel-control-next,
  .carousel-control.left,
  .carousel-control.right {
    opacity: 1;
    height: rem(50);
    width: rem(50);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 9999px;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid var(--bs-primary);
  }

  .carousel-control-prev {
    left: rem(25);
  }

  .carousel-control-next {
    right: rem(25);
  }
}
