@use '../util' as *;

.carousel {
  // margin-top: 1rem;
  // border-top: none;

  &-item {
    img {
      border: 1px solid lightslategray;
      text-align: center;
    }
  }
}

.carousel-control.left,
.carousel-control.right {
  color: color-mix(in srgb, var(--clr-light-gray-3), #000 10%);
  background-image: none;
  opacity: 1;
  width: 2.5%;
  // display: none;
}

.carousel-indicators {
  display: none;
}

@include breakpoint(medium) {
  .carousel-indicators {
    position: absolute;
    bottom: -4rem;
    left: 50%;
    z-index: 0;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
    display: block;

    [data-bs-target] {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 1px;
      text-indent: -999px;
      cursor: pointer;
      background-color: #000 \9;
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid var(--clr-black);
      border-radius: 10px;
    }
  }

  .carousel-indicators button {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    // background-color: #000 \9;
    // background-color: rgba(0, 0, 0, 0);
    // border: 1px solid ;
    border-radius: 10px;
  }

  .carousel-indicators button,
  .carousel-indicators .active {
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 100%;
  }

  .carousel-indicators button {
    background-color: transparent;
    border: 2px solid var(--clr-black);
  }

  .carousel-indicators button.active {
    background-color: var(--clr-black);
  }
}
