@use '../util' as *;

.countdown {
  background-color: #eeeeee;
  color: black;
  height: auto;
  width: 100%;
  border-top: rem(1) solid lightgray;
  border-bottom: rem(1) solid lightgray;

  &__wrapper {
    max-width: rem(1270);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: rem(10);
  }

  &__image {
    display: none;
  }

  &__timer {
    display: flex;
    gap: rem(10);
    margin-block-end: rem(20);
  }

  @include breakpoint(medium) {
    &__wrapper {
      flex-direction: row;
    }

    &__image {
      display: block;
    }

    &__wrapper img {
      display: block;
    }

    &__timer {
      margin-block-end: 0;
    }
  }
}

.timer {
  &__box {
    background-color: hsl(209, 61%, 16%);
    color: white;
    width: rem(70);
    height: rem(80);
    display: grid;
    place-items: center;
    text-align: center;

    p:not(.expired) {
      font-size: rem(40);
      margin-block-end: rem(2.5);
      letter-spacing: rem(2.5);
      line-height: 1;
    }
  }

  &__text {
    font-size: rem(30);
    text-transform: uppercase;
  }

  @include breakpoint(medium) {
    &__box {
      height: rem(70);
      width: rem(70);
    }

    &__box p:not(.expired) {
      font-size: rem(30);
    }

    &__text {
      margin-inline-start: rem(20);
    }
  }
}

.countdown__wrapper img.icon-football {
  max-width: rem(30);
  display: inline-block;
  height: auto;
}
