@use '../util' as *;

.countdown {
  background-color: #eeeeee;
  color: black;
  height: auto;
  width: 100%;
  margin-bottom: 2rem;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;

  &__wrapper {
    max-width: 127rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
  }

  &__image {
    display: none;
  }

  &__timer {
    display: flex;
    margin-bottom: 2rem;
  }

  @include breakpoint(medium) {
    &__wrapper {
      flex-direction: row;
    }

    &__image {
      display: block;
    }

    &__wrapper img {
      display: block;
    }

    &__timer {
      margin-bottom: 0;
    }
  }
}

.timer {
  &__box {
    background-color: hsl(209, 61%, 16%);
    color: white;
    width: 7rem;
    height: 8rem;
    display: grid;
    place-items: center;
    text-align: center;

    p:not(.expired) {
      font-size: 4rem;
      margin-bottom: 0.25rem;
      letter-spacing: 0.25rem;
      line-height: 1;
    }
  }

  &__text {
    font-size: 3rem;
    text-transform: uppercase;
  }

  @include breakpoint(medium) {
    &__box {
      height: 7rem;
      width: 7rem;
    }

    &__box p:not(.expired) {
      font-size: 3rem;
    }

    &__text {
      margin-left: 2rem;
    }
  }
}
