@use '../util' as *;

.form-control {
  height: rem(50);
  padding: 0 rem(15);
  line-height: rem(50);

  @include breakpoint(medium) {
    height: rem(35);
    line-height: rem(35);
  }
}

.form-floating {
  > .form-control {
    height: auto;
    line-height: 1;
    width: 100%;
  }
}

select,
select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb%2851, 51, 51%29"></polygon></svg>');
  background-position: right rem(5) center;
  background-size: rem(9) rem(6);
  background-repeat: no-repeat;
  border: rem(2) solid var(--clr-light-gray-3);
  width: 100%;

  @include breakpoint(medium) {
    border-width: rem(1);
    width: auto;
  }

  &.dd-hidden {
    background-image: none;
    background-color: var(--clr-white);
    color: currentColor;
    border: none;
    box-shadow: none;
    padding: 0;
    margin-top: rem(-10);
    cursor: text;
  }
}

.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown),
.form-floating > .form-control-plaintext:focus,
.form-floating > .form-control-plaintext:not(:placeholder-shown) {
  padding-top: rem(25);
  padding-bottom: rem(10);
}

#mc_embed_signup {
  input.birthday {
    width: rem(50);
    display: inline-block;
    padding-inline: rem(4);
  }
}
