@use '../util' as *;

.header {
  &__main {
    display: block;
  }
  &__ubs {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: rem(1320);

    &--logo {
      padding: rem(5) rem(10);

      a {
        display: block;
      }
    }

    @include breakpoint(menu) {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__ubs--logo {
        margin: 0;
        padding-inline: 0;
      }
    }

    @include breakpoint(large) {
      padding-inline: 0;
    }
  }
}

.cart {
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
}

#cart-count {
  margin-inline-end: rem(5);
}

// Mobile Navbar & Toggle
.navbar {
  &__links {
    display: flex;
    justify-content: space-around;
    padding: rem(15);
    background-color: var(--bs-primary);
    color: var(--bs-white);
    list-style: none;
    margin: 0;

    &--item {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      height: rem(65);
      width: rem(70);
      text-align: center;

      i,
      em {
        font-size: rem(35);
      }

      span {
        text-transform: uppercase;
        font-size: rem(12);
        font-weight: 600;
      }

      a,
      button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        color: inherit;
      }

      .header__toggle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }

      .navbar-toggler {
        padding: 0;
      }
    }
  }

  &-toggle {
    cursor: pointer;
    display: block;
    background: transparent;
    line-height: 1;
    padding-inline: rem(15);
    transition: var(--transition);
    border: none;
    color: inherit;
  }

  &__search {
    background: transparent;
    border: none;
    color: inherit;
    position: relative;
  }

  @include breakpoint(menu) {
    &__links {
      background-color: var(--bs-white);
      color: var(--bs-gray-dark);
      width: 45%;
      gap: rem(20);

      &--item {
        height: auto;
        gap: rem(5);

        i,
        em {
          font-size: rem(24);
        }

        a {
          text-align: center;
          width: 100%;
          span {
            transition: var(--transition);
          }
          &:hover span,
          &:focus span {
            color: var(--bs-primary);
          }
        }
      }

      & .search {
        order: -1;
        // align-items: flex-end;
      }
      & .toggle {
        display: none;
      }
    }

    &__search {
      order: -1;
    }
  }
}

// Search form
.search {
  &__form {
    display: none;
  }

  &.open {
    .search__form {
      display: block;
      gap: 0;
      position: absolute;
      padding: rem(30) rem(15);
      background-color: var(--bs-gray-100);
      left: 0;
      right: 0;
      top: rem(210);
      width: 100%;
      height: auto;
      z-index: 200;
      box-shadow: rem(2) rem(5) rem(10) rgba(0, 0, 0, 0.5);

      &--input {
        position: relative;
        width: 100%;

        input {
          height: rem(50);
          padding: 0 0 0 rem(15);
          border: rem(1) solid var(--bs-gray-400);
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom: none;
          font-size: inherit;
        }
      }

      &--submit {
        width: 100%;
        button {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          justify-content: center;
          font-size: rem(18);
          width: 100%;
          height: rem(50);

          em {
            font-style: normal;
          }

          span {
            font-size: rem(18);
          }
        }
      }

      &--icon {
        display: none;
      }
    }
  }

  @include breakpoint(menu) {
    width: 100%;
    max-width: rem(500);

    #search {
      display: none;
    }

    &__form {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      position: relative;

      &--input {
        width: 100%;

        input {
          font-size: inherit;
          border: none;
          border-bottom: rem(1) solid var(--bs-gray-dark);
          border-radius: unset;
          width: 100%;
          display: inline;
          box-shadow: none;
          padding: 0 0 0 rem(35);
          height: rem(35);
        }
      }

      &--submit {
        position: absolute;
        left: rem(-10);
        button {
          font-size: inherit;
          background-color: transparent;
          border: none;
          color: var(--bs-gray-dark);

          em.fa {
            font-size: rem(24);
          }

          &:hover,
          &:focus {
            background-color: transparent;
            color: var(--bs-primary);
          }
        }
      }

      &--text {
        display: none;
      }
    }
  }
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: rem(25);
  width: rem(25);
  // margin-inline-end: rem(20);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  cursor: pointer;
}

.item-hdr {
  font-weight: 700;
  background-color: #000;
  color: #fff;
  padding: rem(2) rem(5);
}

.backtotop {
  display: none;
  position: fixed;
  z-index: 9999999999999;
  bottom: rem(40);
  right: rem(10);
  width: rem(50);
  height: rem(50);

  @include breakpoint(medium) {
    height: rem(40);
    width: rem(40);
  }
}

.backtotop a {
  &:link,
  &:visited {
    display: block;
    opacity: 1;
    width: rem(50);
    height: rem(50);
    background-color: var(--bs-primary);
    border: rem(2) solid #c0c0c0;
    border-radius: rem(4);
    // outline: 0;
    position: absolute;
    transition: all 0.2s ease;
  }

  &:hover {
    transform: translateY(rem(-3));
    background-color: #9e040a;
    box-shadow: 0 rem(1) rem(2) rgba(var(--bs-gray-dark), 0.6);
  }
  &:active {
    transform: translateY(rem(-1));
    box-shadow: 0 rem(2) rem(4) rgba(var(--bs-gray-dark), 0.8);
  }
}

.backtotop em {
  @include absCenter;
  color: var(--bs-white);
  font-size: rem(20);
}

@media print {
  .backtotop {
    display: none !important;
  }
}

// @media (min-width: 768px)
@media (min-width: rem(768)) {
  .dropdown:hover > .dropdown-menu {
    display: none;
  }

  .dropdown:hover > .dropdown-menu.show {
    display: block;
  }
}
