@use '../util' as *;

// Main menu toggler
.navbar {
  &-toggler {
    display: block;
    padding: rem(10);
    background: transparent;
    border: none;

    .icon-bar {
      display: block;
      width: rem(22);
      height: rem(2);
      border-radius: rem(1);
      background-color: var(--clr-black);
      transition: all 0.25s ease-in-out;

      + .icon-bar {
        margin-top: rem(4);
      }
    }

    .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }

    .middle-bar {
      opacity: 0;
    }

    .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }

    @include breakpoint(menu) {
      display: none;
    }

    &.collapsed {
      .top-bar,
      .bottom-bar {
        transform: rotate(0);
      }

      .middle-bar {
        opacity: 1;
      }
    }
  }
}

.nav {
  &bar {
    margin: 0;
    padding: 0;
    // margin-bottom: rem(20);

    &__site {
      height: rem(70);
      position: relative;
      border-bottom: rem(2) solid var(--clr-primary);
      padding: rem(15) 0;
      background-color: var(--clr-white);
      background-size: cover;
      @include breakpoint(menu) {
        height: auto;
        border-bottom: none;
      }
    }

    &-nav {
      > li {
        > a {
          padding: rem(10) rem(15) !important;
          display: block;
          font-size: rem(18);
          color: #0054ad;

          &:hover,
          &:active,
          &:focus {
            background-color: color-mix(
              in srgb,
              var(--clr-light-gray-2),
              #000 5%
            );
            transition: all 0.25s ease-in-out;
            text-decoration: none;
          }
        }

        @include breakpoint(menu) {
          &.open {
            > a {
              color: var(--clr-white);
              background-color: color-mix(in srgb, var(--clr-primary), #000 5%);
            }
          }
          > a {
            color: var(--clr-white);
            font-size: rem(15);
            min-height: 100%;
            display: flex;
            align-items: center;
            gap: rem(5);
            text-transform: uppercase;
            text-shadow:
              0 0 rem(1) rgba(0, 0, 0, 0.5),
              rem(1) rem(1) rem(3) rgba(0, 0, 0, 0.5);

            &:hover,
            &:active,
            &:focus {
              color: var(--clr-white);
              background-color: color-mix(in srgb, var(--clr-primary), #000 5%);
            }
          }

          &:hover,
          &:active,
          &:focus {
            background-color: color-mix(in srgb, var(--clr-primary), #000 5%);
          }
        }
      }

      .dropdown-menu {
        margin: 0;
        padding: 0;
      }
    }

    &-collapse {
      border-top: rem(1) solid transparent;
      box-shadow: inset 0 rem(1) 0 rgba(255, 255, 255, 0.1);
      background-color: #f1f1f1;
      padding-left: 0;
      padding-right: 0;

      @include breakpoint(menu) {
        background-color: var(--clr-primary);
        border-top: none;
      }
    }

    a {
      font-size: rem(18);

      @include breakpoint(menu) {
        font-size: rem(15);
      }
    }
  }
}

.dropdown {
  &-toggle {
    &::after {
      display: none;
    }
  }
}

/* ============ desktop view ============ */
@media all and (min-width: 73.0625em) {
  .navbar .has-megamenu {
    position: static !important;
  }
  .navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
    padding: rem(20);
  }

  // .navbar-expand-lg .navbar-collapse {
  //   display: flex;
  //   flex-basis: auto;
  // }

  .dropdown-menu {
    border: rem(1) solid #fff;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: rem(160);
    padding: rem(5) 0;
    margin: rem(2) 0 0;
    font-size: rem(14);
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: rem(4);
    -webkit-box-shadow: 0 rem(6) rem(12) rgba(0, 0, 0, 0.175);
    box-shadow: 0 rem(6) rem(12) rgba(0, 0, 0, 0.175);
  }

  .dropdown-menu.show:not(.megamenu) li > a {
    display: block;
    padding: rem(3) rem(20);
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;

    &:hover {
      color: #262626;
      text-decoration: none;
      background-color: #f5f5f5;
    }
  }
  .dropdown-menu.show.megamenu {
    padding: rem(20);
  }
}
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media (max-width: 73em) {
  .navbar.fixed-top .navbar-collapse,
  .navbar.sticky-top .navbar-collapse {
    overflow-y: auto;
    max-height: 90vh;
    margin-top: rem(10);
  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: column;
  }

  .navbar-expand-lg .navbar-collapse {
    display: block !important;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu {
    width: 100%;
  }

  .collapse:not(.show) {
    display: none !important;
  }

  .megamenu [class^='col-'] {
    flex: 0 0 100%;
    width: 100%;
  }

  .megamenu [class*='offset-'] {
    margin-left: 0;
  }

  .dropdown:hover > .dropdown-menu {
    display: none;
  }
  .dropdown:hover > .dropdown-menu.show {
    display: block;
  }

  .dropdown-menu.show li > a {
    display: block;
    padding: rem(10) rem(20);
  }
}
/* ============ mobile view .end// ============ */

.collapse.navbar-collapse {
  @include breakpoint(menu) {
    justify-content: center;
  }
}

.megamenu {
  padding: 0;
  border-bottom: rem(1) solid var(--clr-light-gray-3);

  h2 {
    font-size: rem(16);
    font-weight: 500;
    border-bottom: rem(1) solid var(--clr-light-gray-3);

    a {
      display: block;
      padding: rem(10) rem(15);
      color: var(--clr-black);

      &:hover {
        text-decoration: none;
      }
    }

    @include breakpoint(menu) {
      margin-bottom: rem(5);
      font-weight: 700;
      padding-bottom: rem(5);

      a {
        padding: rem(2) rem(5);
      }
    }
  }

  a.nav-title {
    font-size: rem(16);
    font-weight: 500;
    border-bottom: rem(1) solid var(--clr-light-gray-3);
    display: block;
    padding: rem(10) rem(15);
    color: var(--clr-black);

    &:hover {
      text-decoration: none;
    }

    @include breakpoint(menu) {
      margin-bottom: rem(5);
      font-weight: 700;
      padding: rem(2) rem(5);
    }
  }

  [class^='col-'] {
    padding: 0;
    margin-top: 0;

    @include breakpoint(menu) {
      padding-left: rem(5);
      padding-right: rem(5);
    }
  }

  li {
    a {
      padding: rem(10) rem(25);
      display: block;
      transition: all 0.25s ease-in-out;

      &:hover {
        text-decoration: none;
        background-color: color-mix(in srgb, var(--clr-light-gray-2), #000 5%);
      }

      @include breakpoint(menu) {
        padding: rem(2) rem(5);

        &:hover {
          border-radius: rem(3);
          color: var(--clr-black);
          transition: all 0.25s ease-in-out;
        }
      }
    }
  }
}

.col-megamenu {
  background-color: var(--clr-white);

  ul {
    display: none;

    @include breakpoint(menu) {
      display: block;
      margin-bottom: rem(15);
    }
  }

  ol {
    li {
      a {
        &:link,
        &:visited {
          display: block;
          padding: rem(10) rem(15);
          color: var(--clr-black);
          font-size: rem(16);
        }

        &:hover {
          text-decoration: none;
        }

        @include breakpoint(menu) {
          &:link,
          &:visited {
            font-size: rem(15);
            padding: rem(10) rem(15);
            display: inline-block;
            color: #0054ad;
          }

          &:hover {
            background-color: transparent;
            color: var(--clr-primary);
            transition: all 0.25s ease-in-out;
          }
        }

        @include breakpoint(menu) {
          &:link,
          &:visited {
            padding: rem(2) rem(5);
          }
        }
      }
    }
    @include breakpoint(small) {
      margin-top: rem(-1);
    }
  }

  &-no-header li a {
    background-color: var(--clr-white);
    font-size: rem(18);
    font-weight: 500;
    border-bottom: rem(1) solid var(--clr-light-gray-3);
    display: block;
    padding: rem(10) rem(15);
    color: var(--clr-black);

    &:hover {
      text-decoration: none;
    }

    @include breakpoint(menu) {
      font-weight: 400;
      padding: rem(2) rem(5);
      border-bottom: none;
      font-size: rem(15);
      color: #337ab7;
    }
  }
}

.view-all {
  text-align: center;
  margin-bottom: rem(15);

  a {
    &:link,
    &:visited {
      color: var(--clr-primary);
      font-weight: 700;
      padding: rem(10);
      border-bottom: rem(1) solid currentColor;
      transition: all 0.25s ease-in-out;
    }

    &:hover,
    &:active {
      text-decoration: none;
      background-color: var(--clr-primary);
      color: var(--clr-white);
    }
  }
}
