@use '../util' as *;

.popup {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.9);

  &-content {
    background-color: #fff;
    margin: 35% rem(5);
    padding: rem(20);
    box-shadow: rem(5) rem(5) rem(10) rgba(0, 0, 0, 0.5);
    width: auto;
    position: relative;
    text-align: center;

    @include breakpoint(small) {
      width: 100%;
      max-width: rem(1170);
      margin: 15% auto;
    }

    h1,
    h2 {
      margin-bottom: rem(15);
      font-weight: 500;

      a {
        &:hover {
          text-decoration: none;
        }
      }
    }

    h1 {
      color: var(--clr-primary);
      font-size: rem(40);
    }

    h2 {
      font-size: rem(18);

      span {
        font-size: rem(14);
      }
    }
  }

  .small {
    font-size: rem(11);
  }

  span.red {
    color: var(--clr-primary);
  }

  .popup-close {
    color: var(--clr-black);
    font-size: rem(28);
    font-weight: 500;
    position: absolute;
    top: rem(1);
    right: rem(1);
    opacity: 0.8;
    float: right;
    line-height: 1;
    text-shadow: 0 rem(1) 0 #fff;

    &:hover,
    &:focus {
      color: var(--clr-black);
      text-decoration: none;
      cursor: pointer;
      opacity: 0.5;
    }
  }
}
