@use '../util' as *;

.compare {
  width: 100%;
  font-size: rem(14);
  margin-bottom: rem(20);

  thead {
    th {
      color: var(--bs-white);
      font-weight: 700;
      &:nth-child(1) {
        color: var(--bs-primary);
      }

      &:nth-child(2),
      &:nth-child(3) {
        text-align: center;
      }

      &:nth-child(2) {
        background-color: var(--bs-gray-600);
      }

      &:nth-child(3) {
        background-color: var(--bs-primary);
      }
    }
  }

  td,
  th {
    border: rem(3) solid var(--bs-white);
    padding: rem(6);
  }

  td,
  tfoot th {
    font-weight: 500;
    background-color: var(--bs-gray-400);
  }

  tbody td:nth-of-type(1),
  tfoot th:nth-of-type(1) {
    font-weight: 700;
  }

  tfoot th:last-of-type {
    font-weight: 700;
    background-color: var(--bs-success);
    color: var(--bs-white);
  }
}
