@use '../util' as *;

.tabs {
  font-size: rem(16);

  @include breakpoint(small) {
    font-size: rem(14);
  }

  &__nav {
    display: table;
    text-align: center;
    width: 100%;
    list-style: none;
    padding: 0;
  }

  &__item {
    display: block;

    @include breakpoint(small) {
      display: inline-block;
      width: auto;

      &:not(:last-child) {
        margin-right: rem(15);
      }
    }
  }

  &__link {
    &:link,
    &:visited {
      display: block;
      width: 100%;
      font-size: rem(12);
      background: var(--clr-light-gray);
      border-bottom: rem(4) solid transparent;
      font-weight: 700;
      text-transform: uppercase;
      padding: rem(20);
      text-decoration: none;
      position: relative;
      text-align: center;
      color: var(--clr-black);
      height: rem(60);
      transition: all 0.2s ease-in-out;
    }

    &-active {
      &:link,
      &:visited {
        border-bottom: rem(4) solid var(--clr-primary);
        cursor: default;
        background-color: var(--clr-light-gray-3);
      }
    }

    i {
      margin-right: rem(10);

      &.fa.fa-exclamation-triangle {
        color: var(--clr-primary);
      }
    }

    @include breakpoint(small) {
      &:link,
      &:visited {
        background: transparent;
        padding: rem(10);
        height: auto;
      }

      &:hover,
      &:active {
        opacity: 0.7;
      }

      &-active {
        &:link,
        &:visited {
          opacity: 1;
          background: transparent;
        }
      }
    }
  }

  &__container {
    & > div {
      margin: rem(20) 0 rem(30);
      padding: 0 rem(20);

      span {
        color: var(--clr-primary);
        font-weight: 700;
      }

      ol {
        margin-left: rem(30);

        @include breakpoint(small) {
          margin: rem(10) auto;
          width: 75%;
        }
      }
    }

    #shipping {
      @include breakpoint(medium) {
        height: rem(300);
        overflow-y: scroll;
      }
    }
  }
}
