@use '../util' as *;

.tabs {
  font-size: rem(16);

  @include breakpoint(small) {
    font-size: rem(14);
  }

  &__nav {
    display: table;
    text-align: center;
    width: 100%;
    list-style: none;
    padding: 0;
  }

  &__item {
    display: block;

    @include breakpoint(small) {
      display: inline-block;
      width: auto;

      &:not(:last-child) {
        margin-right: rem(15);
      }
    }
  }

  &__link {
    &:link,
    &:visited {
      display: block;
      width: 100%;
      font-size: rem(12);
      background: var(--bs-gray-100);
      border-bottom: rem(4) solid transparent;
      font-weight: 700;
      text-transform: uppercase;
      padding: rem(20);
      text-decoration: none;
      position: relative;
      text-align: center;
      color: var(--bs-gray-dark);
      height: rem(60);
      transition: all 0.2s ease-in-out;
    }

    &-active {
      &:link,
      &:visited {
        border-bottom: rem(4) solid var(--bs-primary);
        cursor: default;
        background-color: var(--bs-gray-400);
      }
    }

    i {
      margin-right: rem(10);

      &.fa.fa-exclamation-triangle {
        color: var(--bs-primary);
      }
    }

    @include breakpoint(small) {
      &:link,
      &:visited {
        background: transparent;
        padding: rem(10);
        height: auto;
      }

      &:hover,
      &:active {
        opacity: 0.7;
      }

      &-active {
        &:link,
        &:visited {
          opacity: 1;
          background: transparent;
        }
      }
    }
  }

  &__container {
    & > div {
      margin: rem(20) auto rem(30);
      padding: 0 rem(20);

      &#disco,
      &#shipping {
        max-width: rem(750);
      }

      span {
        color: var(--bs-primary);
        font-weight: 700;
      }

      ol {
        margin-left: rem(30);

        @include breakpoint(small) {
          margin: rem(10) auto;
          width: 75%;
        }
      }
    }

    #shipping {
      @include breakpoint(medium) {
        height: rem(300);
        overflow-y: scroll;
      }
    }
  }
}

// New Accessible Tabs
.tabs {
  &-container {
    font-size: rem(16);

    // MERCH DETAIL
    // ADDITIONAL INFO SECTION
    &.additional-info {
      ul,
      [role='tablist'] {
        display: table;
        text-align: center;
        width: 100%;
        list-style: none;
        padding: 0;

        a {
          i {
            margin-right: rem(10);
          }

          i.fa.fa-exclamation-triangle {
            color: var(--bs-primary);
          }

          &:hover {
            text-decoration: none;
          }

          &:link,
          &:visited {
            display: block;
            width: 100%;
            font-size: rem(12);
            background: var(--bs-gray-100);
            border-bottom: rem(4) solid transparent;
            font-weight: 700;
            text-transform: uppercase;
            padding: rem(20);
            color: var(--bs-gray-dark);
            height: rem(60);
            transition: var(--transition);
            text-decoration: none;
          }

          &.active,
          &[aria-selected='true'] {
            border-bottom: rem(4) solid var(--bs-primary);
            cursor: default;
            background-color: var(--bs-gray-400);
          }
        }
      }

      .tabs__panels > div {
        margin: rem(20) auto rem(30);
        padding: 0 rem(20);

        &#disco,
        &#shipping {
          max-width: rem(750);
        }

        span {
          color: var(--bs-primary);
          font-weight: 700;
        }

        ol {
          margin-left: rem(30);

          @include breakpoint(small) {
            margin: rem(10) auto;
            width: 75%;
          }
        }
      }

      @include breakpoint(small) {
        font-size: rem(14);

        ul,
        [role='tablist'] {
          li {
            display: inline-block;
            width: auto;
          }

          a {
            &:link,
            &:visited {
              background-color: transparent;
              height: auto;
              padding: rem(10);
            }
          }
        }
      }

      @include breakpoint(medium) {
        ul {
          li:not(:last-child) {
            margin-right: rem(15);
          }
        }
      }
    }
  }
}
