@use '../util' as *;
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  background: var(--bs-white);
  color: var(--bs-gray-dark);
}

body {
  position: relative;
}

.visually-hidden,
.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: rem(1);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: rem(1);
}

.max-width-wrapper {
  max-width: var(--page-max-width);
  margin: auto;

  &-large {
    max-width: var(--page-max-width-large);
    margin: auto;
  }
}

// @include breakpoint(medium) {
//   /* Set the width of the scroll bar */
//   ::-webkit-scrollbar {
//     width: rem(15);
//   }

//   /* Change the track to a pink color and give it a round border */
//   ::-webkit-scrollbar-track {
//     background-color: color-mix(in srgb, var(--bs-primary), #fff 65%);
//     border-radius: rem(15);
//   }

//   ::-webkit-scrollbar-thumb {
//     background-color: color-mix(in srgb, var(--bs-primary), #fff 15%);
//     border: rem(2) solid color-mix(in srgb, var(--bs-primary), #000 25%);
//     border-radius: rem(15);
//   }

//   ::-webkit-scrollbar-thumb:hover {
//     background-color: var(--bs-primary);
//     border: rem(2) solid color-mix(in srgb, var(--bs-primary), #000 30%);
//   }
// }
