@use '../util' as *;

// Create some space under the
// iCM editor menu since we use
// a negative top margin on the
// hero images.
#modMenu {
  margin-bottom: rem(20);
}

.hide {
  display: none;
}

header,
footer {
  display: none;
}

#ContainDiv {
  padding: rem(30) rem(8) 0;
  background-color: transparent;

  @include breakpoint(menu) {
    padding-inline: 0;
  }
}

.contain,
.container {
  max-width: rem(1170);
  padding: 0;
  margin: 0 auto;
}

#contentSection {
  padding: 0 rem(8);

  @include breakpoint(medium) {
    padding: 0;
  }
}

// HIDE ALL UNNECESSARY MBS ELEMENTS
#Cart,
#h_nav,
#div_privacy,
.firstBackward,
.lastForward,
.help.textr,
.prev_link,
.loginDisclaimer,
.custLogoutHelpWrapper,
.lostPasswordHelp,
#Server,
#custBillMI,
#custShipMiddle,
.loyaltyRedeemLink,
#loyaltyWrap,
#needHelp,
a#goToTop,
.disco {
  display: none !important;
}

.page_header {
  display: none;
}

#custAddInfoWrap,
#custEmailOptWrap,
#custSMSOptWrap {
  padding: 0;
}

// MBS apparently thinks folks will
// only want to use the colors MBS
// chooses.

#custAddressWrap {
  margin: 0;
  padding: 0;
}

#studentIDText {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: rem(-15);
}

.card {
  &-header p {
    font-size: rem(20);
  }

  &-body {
    padding-inline: rem(8);

    [class^='col'] {
      padding-inline: 0;

      @include breakpoint(xsmall) {
        + [class^='col'] {
          padding-left: rem(15);
        }
      }
    }
  }
}

.res_question {
  display: flex;
  align-items: center;
  gap: rem(10);
  margin-bottom: rem(20);

  p {
    margin: 0;
    padding: 0;
  }
}

// MBS script editor
#hScript,
#fScript {
  font-family: var(--ff-mono);
  font-size: rem(14);
  width: 100%;
}

.paymentBilling-wrapper p {
  font-size: var(--fs-default);
  margin-bottom: rem(10);
}

.skip {
  position: absolute;
  left: rem(-10000);
  top: auto;
  width: rem(1);
  height: rem(1);
  overflow: hidden;
  font-size: rem(15);
  padding: rem(5);
}

#promo-toggle-wrapper {
  display: none;
}

#promo-content {
  display: flex !important;
}

.rem1 {
  font-size: var(--fs-default);
}

.req-astrisk {
  float: left;
  margin-right: rem(5);
}

.coExistingAddressText p {
  margin-bottom: rem(5);
}

#cart-rightCard .sticky-top {
  z-index: 0;
}

.rem1_2 {
  font-size: rem(19.2);
}

.rem1_5 {
  font-size: rem(24);
}

.rem2 {
  font-size: rem(32);
}

.rem3 {
  font-size: rem(48);
}

.rem4 {
  font-size: rem(64);
}
