@use '../util' as *;
// Create some space under the
// iCM editor menu since we use
// a negative top margin on the
// hero images.
#modMenu {
  margin-bottom: rem(20);
}

#ContainDiv {
  padding: rem(30) rem(8);
  background-color: transparent;

  @include breakpoint(menu) {
    padding-inline: 0;
  }

  &:has(.container-full) {
    max-width: 100%;
  }
}

#contentSection {
  padding: 0 rem(8);

  @include breakpoint(medium) {
    padding: 0;
  }
}

// HIDE ALL UNNECESSARY MBS ELEMENTS
#Cart,
#h_nav,
#div_privacy,
.firstBackward,
.lastForward,
.help.textr,
.prev_link,
.loginDisclaimer,
.custLogoutHelpWrapper,
.lostPasswordHelp,
#Server,
#custBillMI,
#custShipMiddle,
.loyaltyRedeemLink,
#loyaltyWrap,
#needHelp,
a#goToTop,
.breadcrumb,
.disco,
.hide,
h1.visually-hidden,
header:has(div[data-role='header']:not(.header.header__ubs)),
footer[role='contentinfo'] {
  display: none !important;
}

.coTotal,
.tyTotal {
  font-size: rem(20);
}

#studentIDText {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: rem(-15);
}

.card {
  &-header p {
    font-size: rem(20);
  }

  &-body {
    padding-inline: rem(8);

    [class^='col'] {
      padding-inline: 0;

      @include breakpoint(xsmall) {
        + [class^='col'] {
          padding-left: rem(15);
        }
      }
    }
  }
}

.res_question {
  display: flex;
  align-items: center;
  gap: rem(10);
  margin-bottom: rem(20);

  p {
    margin: 0;
    padding: 0;
  }
}

// MBS script editor
#hScript,
#fScript {
  font-family: var(--bs-font-monospace);
  font-size: rem(14);
  width: 100%;
}

.paymentBilling-wrapper p {
  font-size: var(--fs-default);
  margin-bottom: rem(10);
}

.skip {
  position: absolute;
  left: rem(-10000);
  top: auto;
  width: rem(1);
  height: rem(1);
  overflow: hidden;
  font-size: rem(15);
  padding: rem(5);
}

#promo-toggle-wrapper {
  display: none;
}

#promo-content {
  display: flex !important;
}

.rem1 {
  font-size: var(--fs-default);
}

.req-astrisk {
  float: left;
  margin-right: rem(5);
}

.coExistingAddressText p {
  margin-bottom: rem(5);
}

#cart-rightCard .sticky-top {
  z-index: 0;
}

p {
  &:empty {
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
  }
}

.btn.searchCatButton {
  border-width: rem(1);
  border-color: var(--bs-gray-400);
  background-color: var(--bs-tertiary-bg);
}

.pageHelp {
  display: none;
}

div.logoutLink {
  display: none;
}
