@use '../util' as *;

html {
  font-style: normal;
  font-weight: normal;
}

body {
  font-size: var(--fs-default-mobile);
  font-family: var(--bs-font-sans-serif);
  font-weight: 400;

  @include breakpoint(medium) {
    font-size: var(--fs-default);
  }
}

*::selection {
  background: var(--bs-blue);
  color: var(--bs-white);
}

// prettier-ignore
h1,h2,h3,h4,h5, h6 {
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: rem(36);
}

h2 {
  font-size: rem(30);
}

h3 {
  font-size: rem(24);
}

h4 {
  font-size: rem(15);
}

h5 {
  font-size: rem(14);
}

h6 {
  font-size: rem(12);
}

em,
i {
  font-style: italic;
}
strong,
b {
  font-weight: 700;
}

small {
  font-size: rem(11);
  font-weight: 700;
}

p {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  margin-bottom: rem(20);
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

a {
  color: #0054ad;
  text-decoration: none;
  transition: all 0.25s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

ol {
  padding-left: rem(30);
}

li {
  font-size: inherit;
}

.ul {
  list-style-type: none;
  font-size: inherit;
  line-height: 1.5;
  margin-bottom: rem(25);
  margin-left: rem(20);

  li {
    margin-bottom: rem(8);

    &::before {
      content: '-';
      margin-right: rem(5);
    }
  }

  &-square {
    list-style-type: square;
    margin-left: rem(20);
  }
}

sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}

blockquote,
address.returns {
  border-left: rem(5) solid var(--bs-gray-400);
  padding: rem(5) rem(5) rem(5) rem(10);
  font-size: inherit;
  margin-left: rem(15);

  @include breakpoint(small) {
    margin: 0 rem(60) rem(12) rem(45);
  }
}

.inches {
  &::before {
    content: '\2033';
  }
}

.feet {
  &::before {
    content: '\2032';
  }
}

.reg {
  &::before {
    content: '\00ae';
  }
}

.lead {
  font-size: rem(16);
}

.page_header {
  display: block;
  margin-bottom: rem(10);
  font-size: rem(24);
  font-weight: 500;
  letter-spacing: rem(0.5);
  text-align: center;
}

.page-title {
  font-style: normal;
  font-weight: 700;
  font-size: rem(24);
  margin-bottom: rem(20);
  line-height: 1;
}

.tabs__header {
  text-align: center;
  font-weight: 700;
  font-size: rem(16);
}

.scHeader,
.heading__line,
.heading__line-center {
  display: grid;
  grid-template-columns: rem(10) max-content 1fr;
  grid-column-gap: rem(10);
  align-items: center;
  border-bottom: none;
  padding-bottom: 0;
  padding-left: 0;
  background: none;
  font-size: rem(25);
  margin: 0 0 rem(25);
  width: 100%;

  &::before,
  &::after {
    content: '';
    height: rem(1);
    display: block;
    background-color: currentColor;
  }
}

.heading__line-center {
  grid-template-columns: 1fr max-content 1fr;
}

.heading__list {
  font-size: rem(26);
  font-weight: 400;

  @include breakpoint(medium) {
    font-size: rem(20);
  }
}

.row {
  &__header {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    margin-top: rem(25);
    margin-bottom: rem(32);
    font-weight: 700;

    &::before {
      position: absolute;
      left: 0;
      content: '';
      background-color: var(--bs-primary);
      right: 0;
      margin: 0 auto;
      height: rem(6);
      width: rem(48);
      top: rem(-16);
    }
  }

  &__header-sub {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.35;
    margin-top: rem(28);
    margin-bottom: rem(14);
  }
}

a[href^='tel:'] {
  font-size: 1em;
  font-weight: 700;
  background: #29943d;
  border-radius: 0;
  color: var(--bs-white);
  display: block;
  line-height: 1em;
  padding: rem(10) rem(15);
  text-align: center;
  text-decoration: none;
  width: 100%;
  margin: rem(10) auto;

  &:before {
    font-family: 'FontAwesome';
    content: '\f095';
    padding: 0 rem(5) 0 0;
  }

  @include breakpoint(small) {
    cursor: text;
    background-color: transparent;
    color: var(--bs-gray-dark);
    display: inline;
    font-weight: normal;
    padding: 0;

    &:before {
      content: '';
      padding: 0;
    }
  }
}

.empty-cart {
  text-align: center;
  font-weight: 700;
}

.red {
  color: var(--bs-primary);
}

ol.alpha {
  list-style: lower-alpha;
}

.quote {
  font-size: rem(12);
  font-style: italic;
}

.past {
  text-decoration: line-through;
  opacity: 0.5;
}

.para {
  &-i {
    text-indent: rem(30);
  }
}

.wi-50 {
  width: 50%;
  float: none !important;
}

.bold {
  font-weight: 700;
}

.dancing-script {
  color: var(--bs-primary);
  font-family: var(--ff-script);
  text-align: center;
}

// BOOTSTRAP PADDING/MARGIN UTILITIES
// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: rem(10) !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer,
    ),
    2: (
      $spacer * 2,
    ),
    3: (
      $spacer * 3,
    ),
    4: (
      $spacer * 4,
    ),
    5: (
      $spacer * 5,
    ),
  ),
  $spacers
);

@each $prop, $abbrev in (margin: m, padding: p) {
  @each $size, $length in $spacers {
    .#{$abbrev}-#{$size} {
      #{$prop}: $length !important;
    }
    .#{$abbrev}t-#{$size},
    .#{$abbrev}y-#{$size} {
      #{$prop}-top: $length !important;
    }
    .#{$abbrev}r-#{$size},
    .#{$abbrev}x-#{$size} {
      #{$prop}-right: $length !important;
    }
    .#{$abbrev}b-#{$size},
    .#{$abbrev}y-#{$size} {
      #{$prop}-bottom: $length !important;
    }
    .#{$abbrev}l-#{$size},
    .#{$abbrev}x-#{$size} {
      #{$prop}-left: $length !important;
    }
  }
}

.m-auto {
  margin: auto !important;
}
.my-auto,
.mt-auto {
  margin-top: auto !important;
}
.my-auto,
.mb-auto {
  margin-bottom: auto !important;
}
.mx-auto,
.ml-auto {
  margin-left: auto !important;
}
.mx-auto,
.mr-auto {
  margin-right: auto !important;
}

.mb--3 {
  margin-bottom: rem(-30);
}

.mt--3 {
  margin-top: rem(-30);
}
