.clearance {
  height: 20rem;
  width: 20rem;
  margin: auto;
  vertical-align: middle;
}

.fa.clearance {
  &__icon {
    font-size: 18.5rem;
    color: $primary-color;
  }
}

#shipping {
  table {
    width: 100%;

    @media #{$mq-small} {
      width: 75%;
      margin: 1rem auto;
    }
  }
}
