.nav {
  &bar {
    margin: 0;
    padding: 0;
    &-ubs {
      background-color: $primary-color;
      margin-bottom: 2rem;
    }
    &-center {
      justify-content: center;
    }

    &__site {
      padding: 1.5rem 0;
    }
  }
}

.navbar-nav > li {
  > a {
    color: $white;
    padding: 1rem 1.5rem !important;
    font-size: 1.5rem;
    min-height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: uppercase;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5), 1px 1px 3px rgba(0, 0, 0, 0.5);

    &:hover,
    &:active,
    &:focus {
      color: $white;
      background-color: darken($primary-color, 5%);
    }
  }

  &:hover,
  &:active,
  &:focus {
    background-color: darken($primary-color, 5%);
  }
}

.dropdown {
  &-toggle {
    &::after {
      display: none;
    }
  }
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .has-megamenu {
    position: static !important;
  }
  .navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
  }
}
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media (max-width: 991px) {
  .navbar.fixed-top .navbar-collapse,
  .navbar.sticky-top .navbar-collapse {
    overflow-y: auto;
    max-height: 90vh;
    margin-top: 10px;
  }
}

.collapse.navbar-collapse {
  @media #{$mq-medium} {
    justify-content: center;
  }
}
