.nav {
  &bar {
    margin: 0;
    padding: 0;
    &-ubs {
      background-color: $primary-color;
      margin-bottom: 2rem;
    }
    &-center {
      justify-content: center;
    }

    &__site {
      padding: 1.5rem 0;
    }
  }
}

.navbar-nav > li {
  > a {
    color: $white;
    padding: 1rem 1.5rem !important;
    font-size: 1.5rem;
    min-height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: uppercase;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5), 1px 1px 3px rgba(0, 0, 0, 0.5);

    &:hover,
    &:active,
    &:focus {
      color: $white;
      background-color: darken($primary-color, 5%);
      text-decoration: none;
    }
  }

  &:hover,
  &:active,
  &:focus {
    background-color: darken($primary-color, 5%);
  }
}

.dropdown {
  &-toggle {
    &::after {
      display: none;
    }
  }
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .has-megamenu {
    position: static !important;
  }
  .navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
  }
}
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media (max-width: 991px) {
  .navbar.fixed-top .navbar-collapse,
  .navbar.sticky-top .navbar-collapse {
    overflow-y: auto;
    max-height: 90vh;
    margin-top: 10px;
  }
}

.collapse.navbar-collapse {
  @media #{$mq-medium} {
    justify-content: center;
  }
}

.meganav {
  width: 100%;
  margin: -2rem 0;
  flex-direction: row;
  // margin: 1rem 0;

  &__tabs {
    // background-color: $off-white;
    list-style-type: none;
    flex: 0;
    margin-bottom: 0;
    padding: 0;

    @media #{$mq-medium} {
      flex: 0 0 30rem;
    }

    li {
      background-color: $light-gray-2;
    }

    a,
    &--link {
      display: block;
      color: $black;
      // font-size: 1.3rem;
      padding: 1rem 2rem;
      text-decoration: none;
      line-height: 1.4rem;
      text-shadow: 0 1px 0 $white;
      font-weight: 700;
      transition: all 0.2s;
      border-bottom: 1px solid $light-gray-3;

      &-active,
      &:hover {
        color: $primary-color;
        text-decoration: none;
        background-color: $white;
        border-bottom-color: currentColor;
      }
    }
  }

  &__title {
    text-transform: uppercase;
    margin: 2rem 0;
    font-size: 2.5rem;
  }

  &__wrap {
    background-color: $off-white;
    flex: 1;
    padding: 0;
    &--item {
      display: flex;
    }
  }

  &__menu {
    list-style-type: none;
    justify-content: center;
    flex: 1;

    @media #{$mq-medium} {
      flex: 0 0 100%;
      margin-right: 2rem;
      align-self: flex-start;
    }

    li {
      flex: 1 1 100%;

      @media #{$mq-medium} {
        flex: 0 0 25%;
      }
      &.dup-dn {
        display: none;
      }
    }

    &.gift-items {
      flex: 1 1 100%;

      li {
        @media #{$mq-medium} {
          flex: 0 0 20%;
        }
      }
    }

    a {
      display: block;
      height: 4rem;
      line-height: 4rem;
      font-size: 1.4rem;
      text-align: center;
      font-weight: 700;
      text-decoration: none;
      font-style: italic;
      background: $off-white;
      color: $black;
      box-shadow: 0 0.4rem 0.7rem rgba($black, 0.15);
      transition: all 0.25s ease-in-out;
      overflow: hidden;

      &:not(last-child) {
        margin-bottom: 2.5rem;
      }

      &:hover {
        text-decoration: none;
        box-shadow: 0 0.6rem 1rem rgba($black, 0.15);
        transform: translateY(-3px);
      }

      &:active,
      &:focus {
        box-shadow: 0 0.5rem 0.8rem rgba($black, 0.15);
        transform: translateY(-1px);
      }

      @media #{$mq-medium} {
        margin: 0.5rem;

        &:not(last-child) {
          margin-bottom: 1.5rem;
        }
      }
    }

    &--img {
      display: none;

      @media #{$mq-medium} {
        display: block;
        flex: 1 1 30%;

        img {
          margin: 0 auto;
          // height: 100% !important;
        }
      }
    }
  }
}

.jumbotron.landing {
  background: url('https://i.univbkstr.com/ubs-beta/img/rotator/jt-bg.jpg')
    no-repeat top center;
  background-size: cover;
  height: 15rem;
  margin: -2rem 0 0 0;
  padding: 4rem;
  color: white;
  border-radius: 0;

  svg {
    color: $white;
    fill: $white;

    &.ua-logo {
      height: 13rem;
      width: 22.2rem;
    }
  }

  h1 {
    margin-bottom: 1.5rem;

    @media #{$mq-medium} {
      font-size: 6.3rem;
    }
  }

  @media #{$mq-medium} {
    height: 20rem;
  }
}
