@use '../util' as *;

.pg-404 {
  h2 {
    font-size: rem(24);
  }

  p {
    text-transform: uppercase;
    margin-block-end: rem(5);

    &:first-child {
      font-weight: 700;
    }

    &:not(:first-child) {
      font-size: rem(14);
    }
  }

  img {
    margin-block-start: rem(30);
    max-height: rem(500);
  }
}
