.cart {
  font-size: 1.6rem;

  &__container {
    width: 100%;
    text-align: center;
    margin: 0 auto 2rem;
    padding: 3rem 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  }

  &__icon {
    font-size: 5.8rem;
  }

  &__p {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 2.5rem auto;
  }

  &__btn {
    margin-bottom: 2rem;
  }

  &__account {
    padding: 1.5rem;
    background-color: #f7f7f7;
    border: 1px solid #efefef;
    font-size: 1.8rem;

    p {
      margin-bottom: 0;
    }
  }

  &_title {
    margin: 0;
    font-size: inherit;
  }

  .glyphicon {
    color: $primary-color;
  }
}
.paymentBilling-wrapper br {
  display: none;
}

a.paymentBilling-change {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  transition: all 0.2s ease-in-out;
  height: 5rem;
  text-decoration: none;
  font-size: 1.6rem;
  background-color: transparent;
  border-color: #c5050c;
  color: #c5050c;
}
a.paymentBilling-change:hover,
a.paymentBilling-change:active,
a.paymentBilling-change:active:hover,
a.paymentBilling-change:focus,
a.paymentBilling-change:active:focus {
  background-color: #c5050c;
  color: #fff;
}

@media #{$mq-medium} {
  a.paymentBilling-change {
    width: 9rem;
    height: 3.5rem;
  }
}

p.paymentBilling-studentnumber {
  display: none;
}

h2.heading__billing {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 1.5rem;
  padding-bottom: 5px;
  border-bottom: 1px solid $light-gray-3;
}

#coShipStudentNumber-wrapper p {
  margin-top: -1rem;
  padding: 1rem;
  background-color: #fff3d9;
  color: #646464;
}

.is-invalid-hide,
.is-valid-hide {
  border-color: #ced4da !important;
  background-image: none !important;
}

.paymentBilling-wrapper p:last-child {
  font-weight: 700;
  margin-top: 1rem;
  --bs-alert-padding-x: 1rem;
  --bs-alert-padding-y: 1rem;
  --bs-alert-margin-bottom: 1rem;
  --bs-alert-color: #055160;
  --bs-alert-bg: #cff4fc;
  --bs-alert-border-color: #b6effb;
  --bs-alert-border: 1px solid var(--bs-alert-border-color);
  --bs-alert-border-radius: 0.375rem;
  position: relative;
  padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
  margin-bottom: var(--bs-alert-margin-bottom);
  color: var(--bs-alert-color);
  background-color: var(--bs-alert-bg);
  border: var(--bs-alert-border);
  border-radius: var(--bs-alert-border-radius);
}
