#shipping-banner {
  text-align: center;
  padding: 0 1.5rem;

  & > * {
    font-weight: 700;
  }

  span {
    display: none;

    @media #{$mq-medium} {
      display: inline;
    }
  }

  .sale-banner {
    background-color: #326cec;
    color: $white;
    font-size: 3rem;
    line-height: 1.5;
    padding: 1rem;

    @media #{$mq-medium} {
      font-size: 4rem;
    }
  }

  .lg-text {
    font-size: 1.8rem;

    @media #{$mq-medium} {
      font-size: 2rem;
    }
  }

  .btn-xlrg.btn-blue {
    background-color: #326cec;
    display: inline-block;
    color: $white;
    text-transform: uppercase;
    font-size: 3rem;
    padding: 0 1.5rem;
    margin-bottom: 2rem;
    transition: all 0.2s ease;
    box-shadow: 0 0.5rem 0.5rem rgba(77, 77, 77, 0.6);

    &:hover {
      text-decoration: none;
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(77, 77, 77, 0.4);
      transition: all 0.2s ease;
    }

    @media #{$mq-medium} {
      font-size: 4rem;
    }
  }

  .small-disclaimer {
    font-size: 1.2rem;
  }

  p {
    color: #4d4d4d;
  }
}

.coupon {
  margin: 3rem auto;
  padding: 1rem;
  text-align: center;
  border: 5px dashed #333;
  width: 100%;

  &__header {
    background-color: #333;
    color: $white;
    padding: 5px;
    text-transform: uppercase;

    h3 {
      font-size: 6rem;
      text-align: center;
    }

    span {
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 1.25;
    }

    @media #{$mq-medium} {
      padding: 5px 1.5rem;

      h3 {
        font-size: 12rem;
        text-align: left;
        letter-spacing: 2px;
      }

      span {
        font-size: 5rem;
      }
    }
  }

  &__body {
    margin-top: 2rem;
    h3 {
      font-size: 10rem;
    }

    &-logo {
      margin-bottom: 2rem;
    }

    &-bucky {
      display: none;

      @media #{$mq-medium} {
        display: block;
      }
    }
  }

  &__code {
    background-color: #333;
    padding: 5px;
    height: 7rem;
    width: 65%;
    margin: auto;

    &-text {
      display: inline-block;
      background-color: #fff;
      color: #333;
      padding: 0 1rem;
      float: left;
      margin-right: 1.5rem;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2.5rem;
      height: 6rem;
      line-height: 6rem;
    }

    &-id {
      color: white;
      font-weight: 700;
      font-size: 5rem;
      line-height: 6rem;
    }

    &-store {
      color: $primary-color;
      font-weight: 700;
      margin-top: 1.5rem;
      font-size: 3.5rem;
      border-bottom: 1px solid gray;
      padding-bottom: 1.5rem;

      @media #{$mq-medium} {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  &__stores {
    font-weight: 700;
    margin-top: 2rem;
    font-size: 3rem;
  }

  &__footer {
    margin-top: 2rem;
    font-size: 1.1rem;
    text-align: justify;
    position: relative;

    p {
      margin-bottom: 1rem;
    }

    &-id {
      position: absolute;
      right: 0;
      bottom: -1.5rem;
      font-weight: 700;
      font-size: 1.6rem;
      margin: 0;
    }
  }

  @media #{$mq-medium} {
    width: 100rem;
  }
}

// Braelon Allen Page
.braelon-allen {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  max-width: 117rem;

  .event-header {
    background-color: #9d152d;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
    padding: 2rem;

    h2 {
      margin-bottom: 3rem;
      font-size: 5rem;
      text-transform: uppercase;
      text-shadow: 8px 5px 0 black;
    }

    p {
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 1.25;

      a {
        color: white;
        display: inline-block;
        text-decoration: underline;
        -moz-transition: all 0.25s ease-in-out;
        -webkit-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;

        &:hover {
          color: white;
          -webkit-transform: skewX(-20deg);
          -moz-transform: skewX(-20deg);
          -o-transform: skewX(-20deg);
          transform: skewX(-20deg);
        }
      }
    }
  }

  .event-info {
    text-align: center;

    h2 {
      color: #9d152d;
      font-size: 4.25rem;
      letter-spacing: 1px;
      margin: 2rem 0 3rem;
      text-transform: capitalize;
    }

    ol {
      font-weight: 700;
      font-size: 2.25rem;
      margin: 0 auto;
      padding: 0;
      max-width: 90%;

      li {
        list-style-position: inside;
        margin-bottom: 3.5rem;

        span {
          font-size: 2.5rem;
        }
      }
    }
  }
  .event-disclaimer {
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    color: #9d152d;
  }

  @media #{$mq-medium} {
    .event-header {
      h2 {
        font-size: 8rem;
      }

      p {
        font-size: 6rem;
      }
    }

    .event-info {
      //
      h2 {
        font-size: 6rem;
      }

      ol {
        font-size: 3.5rem;
        max-width: 75%;
      }
    }

    .event-disclaimer {
      font-size: 1.8em;
    }
  }
}

.validation-summary-errors:not(:empty) {
  --bs-alert-bg: transparent;
  --bs-alert-padding-x: 1rem;
  --bs-alert-padding-y: 1rem;
  --bs-alert-margin-bottom: 1rem;
  --bs-alert-border: 1px solid var(--bs-alert-border-color);
  --bs-alert-border-radius: 0.375rem;
  position: relative;
  padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
  margin-bottom: var(--bs-alert-margin-bottom);
  color: var(--bs-alert-color);
  background-color: var(--bs-alert-bg);
  border: var(--bs-alert-border);
  border-radius: var(--bs-alert-border-radius);
  padding-left: 5.5rem;
  --bs-alert-color: #842029;
  --bs-alert-bg: #f8d7da;
  --bs-alert-border-color: #f5c2c7;

  &::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f071';
    font-size: 2rem;
    position: absolute;
    left: 2rem;
    top: 50%;
    transform: translateY(-50%);
  }

  ul {
    margin: 0;

    li {
      color: inherit;
      font-weight: 700;
    }
  }
}

.page {
  margin: auto;
  max-width: 90rem;
  &-header {
    text-align: center;
  }

  h3 {
    color: $primary-color;
    font-size: 3rem;
  }

  p {
    font-size: 2rem;
  }

  &-body {
    &-box {
      border: 5px solid $primary-color;
      margin-bottom: 3rem;
      padding: 1rem;
      text-align: center;

      h3 {
        color: $black;
        font-weight: 700;
      }
    }

    .row {
      margin-bottom: 3rem;
      .col-sm-4 {
        &:first-child {
          text-align: center;
          padding: 1.5rem;

          div {
            border-top: 3px solid $black;
            border-bottom: 3px solid $black;
            color: $primary-color;
            font-weight: 700;
          }
        }
        &:not(:last-child) {
          margin-bottom: 4rem;
        }
      }

      @media #{$mq-medium} {
        .col-sm-4 {
          &:first-child {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            div {
              width: 80%;
              padding: 2rem;
              font-size: 2.5rem;
            }
          }
        }
      }
    }
  }

  &-footer {
    text-align: center;

    h3 {
      text-align: left;
    }
    p {
      font-size: 2.4rem;
      font-weight: 700;

      &.small.float-right {
        margin-top: 1rem;
        text-align: right;
        font-size: 1.3rem;
      }
    }

    a {
      &.bordered {
        display: block;
        color: $black;
        font-size: 2.4rem;
        font-weight: 700;
        border: 1px solid $primary-color;
        padding: 1.5rem;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .text-stroke {
    font-size: 3rem;
    letter-spacing: 1.5px;
    color: $white;
    text-shadow:
      -1px -1px 0 $primary-color,
      1px -1px 0 $primary-color,
      -1px 1px 0 $primary-color,
      1px 1px 0 $primary-color;
  }
}

.code-img {
  background-color: $black;
  max-width: 23.3rem;
  padding: 1rem;
  margin: auto;

  @media #{$mq-medium} {
    margin: 0;
    margin-left: auto;
  }
}
