.giftInquiryBalance {
  --bs-alert-bg: #cff4fc;
  --bs-alert-padding-x: rem(10);
  --bs-alert-padding-y: rem(10);
  --bs-alert-margin-bottom: rem(10);
  --bs-alert-color: #055160;
  --bs-alert-border-color: #b6effb;
  --bs-alert-border: rem(1) solid var(--bs-alert-border-color);
  --bs-alert-border-radius: rem(0.0375);
  font-weight: 700;
  position: relative;
  padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
  margin-bottom: var(--bs-alert-margin-bottom);
  color: var(--bs-alert-color);
  background-color: var(--bs-alert-bg);
  border: var(--bs-alert-border);
  border-radius: var(--bs-alert-border-radius);
}
