@use '../util' as *;

.cart {
  font-size: rem(16);

  &__container {
    width: 100%;
    text-align: center;
    margin: 0 auto rem(20);
    padding: rem(30) rem(10);
    box-shadow: 0 rem(1) rem(3) rgba(0, 0, 0, 0.13);
  }

  &__icon {
    font-size: rem(58);
  }

  &__p {
    text-transform: uppercase;
    font-size: rem(18);
    font-weight: 700;
    margin: rem(25) auto;
  }

  &__btn {
    margin-bottom: rem(20);
  }

  &__account {
    padding: rem(15);
    background-color: #f7f7f7;
    border: rem(1) solid #efefef;
    font-size: rem(18);

    p {
      margin-bottom: 0;
    }
  }

  &_title {
    margin: 0;
    font-size: inherit;
  }

  .glyphicon {
    color: var(--bs-primary);
  }
}
.paymentBilling-wrapper br,
p.paymentBilling-studentnumber {
  display: none;
}

a#coShipAdd,
a.paymentBilling-change {
  border-radius: rem(4);
  cursor: pointer;
  display: block;
  border: rem(2) solid;
  transition: all 0.2s ease-in-out;
  height: rem(50);
  line-height: rem(50);
  padding: 0 rem(20);
  text-decoration: none;
  font-size: rem(16);
  background-color: var(--clr-info);
  border-color: var(--clr-info);
  color: var(--bs-gray-dark);
  font-weight: 700;
  text-align: center;
  &:link,
  &:visited {
  }

  &:hover {
    background-color: color-mix(in srgb, var(--clr-info), #000 10%);
    border-color: color-mix(in srgb, var(--clr-info), #000 12%);
    color: var(--bs-white);
  }

  &:active,
  &:active:hover,
  &:focus,
  &:active:focus {
    background-color: color-mix(in srgb, var(--clr-info), #000 8%);
    border-color: color-mix(in srgb, var(--clr-info), #000 10%);
    color: var(--bs-white);
  }
}

a#coShipAdd {
  @include breakpoint(medium) {
    display: inline-block;
    height: rem(35);
    line-height: rem(35);
    border-width: rem(1);
  }
}

@include breakpoint(medium) {
  a.paymentBilling-change {
    display: inline-block;
    width: auto;
    height: rem(35);
    line-height: rem(35);
  }
}

h2.heading__billing {
  font-size: rem(24);
  text-align: center;
  margin-bottom: rem(15);
  padding-bottom: rem(5);
  border-bottom: rem(1) solid var(--bs-gray-400);
}

#coShipStudentNumber-wrapper p {
  margin-top: rem(-10);
  padding: rem(10);
  font-weight: 700;
  background-color: #f8d7da;
  color: #842029;
}

.is-invalid-hide,
.is-valid-hide {
  border-color: #ced4da !important;
  background-image: none !important;
}

.paymentBilling-wrapper p:last-child {
  font-weight: 700;
  margin-top: rem(10);
  position: relative;
  padding: rem(10) !important;
  margin-bottom: rem(10) !important;
  color: #055160;
  background-color: var(--bs-alert-bg);
  border: var(--bs-alert-border);
  border-radius: var(--bs-alert-border-radius);
}

[class^='helpSection'] {
  display: flex;
  align-items: center;
  padding-inline: rem(10);
  gap: rem(5);

  p,
  a {
    font-size: rem(16);
    margin: 0;
  }

  span.fa {
    color: var(--bs-primary);
    font-size: rem(20);
  }
}

a#helpSection-email {
  display: none;
}

.coHeader {
  font-size: rem(30);
  margin-bottom: rem(20);
}

// MBS fixes the Place Order button
// to the bottom of the page.
// Very confusing to the customer,
// This will fix it.
.coCheckoutBtnWrap {
  position: initial;
}

span.shippingMethod-description-span {
  margin-left: 0 !important;
  margin-top: rem(-10);

  div.alert {
    font-size: rem(16);
  }
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  border-width: rem(3);
  background-size: rem(25);
}

.was-validated .form-control:invalid + label,
.form-control.is-invalid + label {
  color: #dc3545;
}
