@use '../util' as *;

// Monthly coupons
.couponbook {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  gap: rem(20);
  margin-block-end: rem(20);

  div {
    position: relative;

    .check {
      background-image: url('https://www.uwbookstore.com/SiteImages/11-SchoolImages/11-coupons/11-pagecurl.png');
      background-position: 0 0;
      background-repeat: no-repeat;
      position: absolute;
      top: rem(-2);
      left: rem(-3);
      height: rem(43);
      width: rem(36);
    }
    &.print {
      .check {
        background-position: rem(-72) 0;
      }
    }
  }
  &__img {
    margin: auto;
    padding: rem(5);
    background: transparent;
    border: rem(2) dashed var(--bs-gray-400);
    cursor: pointer;
  }

  &__header {
    display: inline-block;
    margin-block-end: rem(20);

    img {
      border: 1px solid var(--bs-black);
    }
  }

  @include breakpoint(small) {
    flex-flow: row wrap;

    div {
      width: 48%;
    }
  }

  @include breakpoint(medium) {
    div {
      width: 24%;
    }
  }
}

@media print {
  .couponbook {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }
  .couponbook div .check,
  .couponbook div {
    display: none;
  }
  .couponbook div.print {
    display: inline-block;
    width: 45%;
  }
  .couponbook div {
    position: relative;
  }
  #ubsHead,
  [id*='div_bottom_sec'],
  [id*='div_top_sec'] {
    display: none;
  }
}

.coupon {
  margin: rem(30) auto;
  text-align: center;
  border: rem(5) solid var(--bs-primary);
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__logo {
    border-top: 4px solid var(--bs-black);
  }

  > div {
    &:first-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: var(--bs-primary);
      color: var(--bs-white);
      padding: rem(30) 0;

      p {
        font-weight: 300;
      }

      a {
        color: var(--bs-white);
        text-decoration: underline;
      }
    }
  }

  &__header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    h3 {
      line-height: 0.85;
      font-size: rem(155);
      margin-block-end: rem(10);
    }

    p {
      line-height: 0.85;
      font-size: rem(50);
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  &__code {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: rem(5);
    height: rem(60);
    width: rem(315);
    margin: 0 auto rem(20);

    &-text,
    &-id {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      font-weight: 700;
    }

    &-text {
      text-align: center;
      background-color: #fff;
      color: #333;
      font-size: rem(35);
      font-weight: 300;
      text-transform: uppercase;
    }

    &-id {
      color: white;
      font-size: rem(45);
    }
  }

  @include breakpoint(medium) {
    display: flex;

    & > div {
      width: 50%;

      &:first-child {
        padding-inline: rem(10);
      }
    }

    &__header {
      h3 {
        font-size: rem(250);
        letter-spacing: 1px;
      }

      p {
        font-size: rem(60);
      }
    }
  }
}

.leadership-coupon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(20);
  margin-inline: auto;
  margin-block-end: rem(40);
  max-width: rem(900);
  border: rem(10) dashed var(--bs-black);
  padding: rem(20);
  text-align: center;
  margin-block-end: rem(60);

  &__picture {
    margin-bottom: rem(20);
    display: block;
  }

  &__header {
    font-family: 'Impact', 'Anton', 'Arial Narrow Bold', sans-serif;
    line-height: 1;
    font-size: clamp(rem(40), 2.1875rem + 2.5vw, rem(60));
    letter-spacing: rem(1);

    span {
      display: block;
      font-size: 175%;
      color: var(--bs-primary);
      margin-block-end: rem(15);
    }
  }

  &__code {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: rem(10);
    font-weight: 700;
    background: var(--bs-primary);
    color: var(--bs-white);
    padding: rem(10);
    width: 100%;
    border-radius: rem(15);
    font-size: clamp(rem(20), 1.0156rem + 1.875vw, rem(35));
    line-height: 1;
    font-family: 'Libre Franklin', 'Franklin Gothic', sans-serif;
    text-transform: uppercase;

    br {
      display: none;
    }

    span {
      font-size: 200%;
    }
  }

  &__body {
    img {
      margin-block-end: rem(15);
    }
    p {
      font-weight: 600;
      font-size: rem(22);
      margin-block-end: rem(8);

      span {
        display: none;
      }

      &.disclaimer {
        font-size: rem(14);
      }
    }
  }

  @include breakpoint(xsmall) {
    &__body {
      p span {
        display: inline;
      }
    }
  }

  @include breakpoint(small) {
    // gap: rem(50);
    padding: rem(10);

    &__header {
      span {
        font-size: 250%;
        margin-block-end: 0;
      }
    }

    &__code {
      flex-direction: row;
      text-align: left;
      padding: rem(30);
      gap: rem(45);

      br {
        display: block;
      }

      span {
        position: relative;

        &::before {
          content: ':';
          position: absolute;
          top: rem(-10);
          left: rem(-32);
        }
      }
    }
  }
}

.page__body {
  max-width: rem(1100);
  margin-inline: auto;
  font-size: clamp(rem(18), 1.0625rem + 0.5vw, rem(22));
  font-weight: 500;
  margin-bottom: rem(60);
}
