@use '../util' as *;

.welcome {
  &__header {
    display: block;
    margin-top: rem(-20);
    padding: rem(30) rem(10) rem(50);
    text-align: center;

    hr {
      display: block;
      margin: rem(40) auto;
      border-top: rem(3) solid #000;
      height: rem(1);
    }

    h1 {
      color: #a11d2f;
      font-weight: 700;
      font-size: rem(35);
    }

    &-grid {
      display: flex;
      padding: rem(20) 0;
      flex-direction: column;

      &-item {
        img {
          border-radius: 50%;
          height: rem(175);
          width: rem(175);
        }

        h2 {
          margin-bottom: rem(20);
          font-size: rem(30);
          font-weight: 800;
          color: var(--clr-black);
        }

        p {
          font-weight: 800;
          font-size: rem(16);
          text-align: justify;
        }

        .btn {
          border-radius: rem(10);
          text-transform: uppercase;
          font-weight: 800;
          font-size: rem(25);
          padding: rem(10) rem(20);
          height: auto;
        }
      }
    }

    @include breakpoint(medium) {
      padding-left: 0;
      padding-right: 0;

      hr {
        width: 60%;
      }

      h1 {
        font-size: rem(70);
      }

      &-grid {
        padding: rem(20) rem(105);
        align-items: center;
        justify-content: space-around;
        flex-direction: row;

        &-item {
          img {
            margin-right: rem(50);
            height: rem(300);
            width: rem(300);
          }

          h2 {
            font-size: rem(35);
          }

          p {
            font-size: rem(30);
          }
        }
      }
    }
  }
}

// .contest {
//   margin: rem(30) 0;
//   text-align: center;

//   &__header {
//     color: var(--clr-primary);
//     font-family: 'Dancing Script';
//     font-size: rem(75);

//     @include breakpoint(medium) {
//       font-size: rem(150);
//     }
//   }

//   &__subhead {
//     text-transform: uppercase;
//     font-size: rem(30);
//     margin-bottom: rem(20);

//     @include breakpoint(medium) {
//       font-size: rem(60);
//     }
//   }

//   p {
//     text-transform: uppercase;
//     font-size: rem(16);

//     @include breakpoint(medium) {
//       font-size: rem(30);
//     }
//   }

//   .btn {
//     border-radius: rem(10);
//     text-transform: uppercase;
//     font-weight: 800;
//     font-size: rem(25);
//     padding: rem(10) rem(20);
//     height: auto;
//   }

//   hr {
//     display: block;
//     margin: rem(40) auto;
//     border-top: rem(3) solid #000;
//     width: 60%;
//     height: rem(1);
//   }
// }

.social {
  text-align: center;

  &__media {
    &-grid {
      display: flex;
      flex-wrap: wrap;
    }

    &-item {
      flex: 0 0 50%;
      margin-bottom: rem(100);
      transform: scale(1);
      transition: all 0.25s ease-in-out;

      @include breakpoint(small) {
        flex: 0 0 25%;
        margin-bottom: rem(30);
      }

      a {
        &:hover {
          text-decoration: none;
        }
      }

      &:hover {
        transform: scale(1.05);
        transition: all 0.25s ease-in-out;
      }

      .twitterX {
        fill: var(--clr-primary);
        height: rem(60);
      }

      .fa-brands {
        font-size: rem(60);
        color: var(--clr-primary);
      }
    }

    &-title {
      display: block;
      font-size: rem(30);
      margin-bottom: 0;
      font-weight: 700;
      color: var(--clr-black);
    }

    &-name {
      display: block;
      font-size: rem(20);
      font-weight: 400;
      color: var(--clr-black);
    }
  }
}

.soar {
  padding: rem(50) rem(15);

  &__grid {
    display: flex;
    flex-flow: row wrap;

    &-item {
      flex: 0 1 100%;
      padding: rem(20);
      margin-bottom: rem(40);
      display: flex;
      flex-direction: column;

      ul {
        padding-left: rem(30);
      }

      @include breakpoint(medium) {
        flex: 0 0 50%;
      }
    }

    &-btn {
      text-align: center;
      margin-top: auto;

      a {
        margin-top: rem(20);
        width: 100%;
        font-size: rem(20);

        @include breakpoint(medium) {
          width: auto;
          font-size: rem(17);
        }
      }
    }
  }

  &:last-child {
    padding-bottom: 0;
  }
}
