@use '../util' as *;

.customer {
  h2 {
    font-weight: 700;
    margin-block-end: rem(10);
    color: var(--bs-gray-dark);
    font-size: rem(18);
  }

  &__faq {
    margin-block-start: rem(50);
  }

  &__returns {
    &-merch {
      margin-block-start: rem(20);
    }
  }

  &__clearance {
    margin-block-start: rem(50);
  }

  &__sizes {
    margin-block-start: rem(50);

    table {
      margin: rem(20) auto;

      &.table > tbody > tr > td {
        padding: rem(3);
      }

      @include breakpoint(medium) {
        width: 70%;
        &.table > tbody > tr > td {
          padding: rem(10);
        }
      }
    }
  }
}
