@use '../util' as *;

@include breakpoint(medium) {
  .content__wrapper {
    padding-inline: rem(20);
  }
}

.gallery {
  margin-block-end: rem(30);
}

.gallery-cell {
  width: 100%;
  max-width: rem(500);
  height: auto;
  margin-inline-end: rem(10);
  counter-increment: gallery-cell;
  border: rem(2) solid var(--bs-gray-600);
}

.flickity-page-dots {
  display: none;
}

.flickity-button {
  border: rem(1) solid var(--bs-primary);
  background-color: var(--bs-white);
  opacity: 1;
  transition: var(--transition);

  &-icon {
    fill: var(--bs-primary);
  }

  &:hover {
    opacity: 0.85;
  }
}

.featured__wrapper /* .carousel-container */ {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: rem(10);
  flex-wrap: wrap;

  .featured-item {
    flex: 0 0 48%;
  }

  @include breakpoint(small) {
    gap: rem(50);

    .featured-item {
      flex: 1 0 auto;
    }
  }
}

.featured__container /* .carousel-track */ {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: rem(20);
  margin-block: rem(30);
  padding-block-end: rem(10);
  overflow-x: scroll;

  &::-webkit-scrollbar {
    height: rem(8);
    border-radius: rem(5);
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: rem(5);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(197, 5, 12, 0.7);
    border-radius: rem(5);
  }

  .flickity-button.flickity-prev-next-button {
    top: rem(75);
  }

  @include breakpoint(medium) {
    overflow-x: hidden;
  }

  @include breakpoint(menu) {
    justify-content: center;
    gap: rem(10);
    padding-block-end: 0;
    padding-inline: rem(20);
  }

  @include breakpoint(large) {
    gap: rem(20);
    padding-inline: rem(30);
  }

  @include breakpoint(xlarge) {
    justify-content: space-between;
    padding-inline: rem(30);
  }
}

.featured-item /* .carousel-item */ {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  counter-increment: featured-item;
  min-height: rem(128);
  width: rem(90);
  text-align: center;

  &-image {
    position: relative;
    opacity: 1;
    transition: var(--transition);

    a {
      display: block;
      height: rem(90);
      width: rem(90);
      position: relative;
    }

    img {
      position: absolute;
      z-index: 2;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #cacaca;
      box-sizing: border-box;
      pointer-events: none;
      opacity: 1;
      z-index: 1;
      transition: var(--transition);
    }

    &:hover {
      &::after {
        opacity: 0.55;
        box-shadow: 0 0 rem(10) rgba(197, 5, 12, 0.6);
      }
    }
  }

  p {
    font-weight: 700;
    text-transform: uppercase;
    font-size: rem(12);
    margin-block-end: 0;

    span {
      display: none;
    }
  }

  @include breakpoint(menu) {
    width: rem(120);
    min-height: rem(165);

    &-image a {
      width: rem(120);
      height: rem(120);
    }

    p {
      font-size: rem(14);
    }
  }

  @include breakpoint(large) {
    width: rem(130);
    min-height: rem(200);

    &-image a {
      width: rem(130);
      height: rem(130);
    }
  }

  @include breakpoint(xlarge) {
    width: rem(150);

    &-image a {
      width: rem(150);
      height: rem(150);
    }

    p span {
      display: inline;
    }
  }
}

.btn-prev,
.btn-next {
  position: absolute;
  top: rem(50);
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid var(--bs-primary);
  border-radius: 50%;
  width: rem(40);
  height: rem(40);
  color: var(--bs-primary);

  &:hover,
  &:active {
    border: 1px solid var(--bs-primary) !important;
    background-color: rgba(255, 255, 255, 0.9) !important;
    color: var(--bs-primary) !important;
  }
}
.btn-prev {
  left: rem(10);
}
.btn-next {
  right: rem(10);
}

// New Collections section

.collection {
  text-align: center;
  line-height: 0;

  a {
    display: inline-block;
  }

  &__wrapper {
    width: 100%;
    margin-block-end: rem(30);
  }

  &:not(:last-child) {
    margin-block-end: rem(10);
  }

  &__img {
    box-sizing: border-box;
    border-radius: rem(4);
    border: rem(2) solid var(--bs-black);
    display: block;
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 48em) {
  .collection:not(:last-child) {
    margin-block-end: rem(20);
  }

  .collection__img {
    border-radius: rem(10);
    border-width: rem(3);
  }
}

@media (min-width: 64em) {
  .collection:not(:last-child) {
    margin-block-end: rem(30);
  }

  .collection__img {
    border-radius: rem(15);
    border-width: rem(4);
  }
}

// Shop by Brand rotator
.shop-by-brand {
  margin-block-end: rem(20);
  // height: rem(150);
}

.shop-by-brand-cell {
  padding: rem(8);
  width: rem(100);
  height: rem(100);
  counter-increment: shop-by-brand-cell;

  @include breakpoint(small) {
    padding: rem(12);
    width: rem(120);
    height: rem(120);
  }

  @include breakpoint(medium) {
    padding: rem(14) 0;
    margin-inline: rem(32);
    width: rem(150);
    height: auto;
  }
}

.home__banner-info {
  display: block;
  text-align: center;
  background: var(--bs-gray-300);
  padding: rem(10);
  margin-block-end: rem(30);
  text-decoration: none;
  color: var(--bs-black);
  font-weight: 600;
  font-size: rem(20);
  opacity: 1;
  transition: var(--transition);

  sup {
    font-size: rem(12);
    color: var(--bs-secondary);
  }

  span {
    color: var(--bs-primary);
    font-size: rem(16);
  }

  &:hover {
    color: var(--bs-black);
    text-decoration: none;
    opacity: 0.75;
  }

  @include breakpoint(small) {
    padding-block: rem(30);
    padding-inline: 0;
    font-size: rem(24);
    br {
      display: none;
    }
  }
}

.student__resources-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: rem(5);
  margin-block-end: rem(30);
}

.student__resources-wrapper a {
  display: block;
  overflow: hidden;
}

.student__resources-wrapper a img {
  border: rem(2) solid var(--bs-black);
}

.student__resources-wrapper a:first-child img {
  border-radius: 10px 10px 0 0;
}

.student__resources-wrapper a:last-child img {
  border-radius: 0 0 10px 10px;
}

@include breakpoint(small) {
  .student__resources {
    h2 > br {
      display: none;
    }
  }
  .student__resources-wrapper {
    flex-direction: row;
    gap: rem(20);
  }

  .student__resources-wrapper a:first-child img {
    border-radius: 10px 0 0 10px;
    border-width: rem(3);
  }

  .student__resources-wrapper a:last-child img {
    border-radius: 0 10px 10px 0;
  }
}

// Gift Cards
.giftcards {
  // background-color: var(--clr-apl-silver);
  background-color: var(--bs-primary);
  color: var(--bs-white);
  margin-inline: rem(-10);
  padding: rem(20);
}

.giftcards__body {
  display: flex;
  flex-direction: column-reverse;
}

.giftcards__img {
  display: none;
}

.giftcards__text {
  h2 {
    font-size: rem(32);
    font-weight: 600;
    margin-block-end: rem(20);
    text-align: center;
  }
}

@include breakpoint(small) {
  .giftcards {
    padding-block: rem(5);
  }

  .giftcards__body {
    margin: auto;
    gap: rem(30);
    max-width: rem(990);
    flex-flow: row nowrap;
    align-items: center;
  }

  .giftcards__text {
    h2 {
      text-align: left;
      margin-block-end: rem(10);
    }

    p {
      font-size: rem(20);
    }
  }
}

@include breakpoint(medium) {
  .giftcards {
    margin-inline: 0;
  }

  .giftcards__img {
    display: block;
    margin-inline: auto;

    img {
      max-width: rem(394);
    }
  }
}

// About Us section
.about-us {
  //
}

.about-us__body {
  padding: rem(20);
}

.about-us-imgblock {
  display: none;
}

.about-us__img {
  flex: 0 0 auto;
}

.about-us__img img {
  display: block;
  border-radius: 100%;
  height: rem(120);
  width: rem(120);
  margin: auto;
}

.about-us__text {
  h2 {
    font-weight: 600;
    font-size: rem(36);
  }

  p > .btn {
    display: flex;
    background-color: var(--bs-gray-dark);
    border-color: var(--bs-gray-dark);
  }

  p > .btn:hover {
    opacity: 0.85;
  }
}

@include breakpoint(small) {
  .about-us__body {
    max-width: rem(1320);
    margin: auto;
    margin-block-start: rem(30);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .about-us-imgblock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(20);
    margin-block-end: rem(20);
  }

  .about-us__text {
    p {
      font-size: rem(20);
    }

    p > .btn {
      display: inline-flex;
    }
  }
}

@include breakpoint(medium) {
  .about-us__body {
    flex-direction: row;
    gap: rem(15);
  }

  .about-us-imgblock {
    margin-block-end: 0;
  }

  .about-us__text,
  .about-us__imgblock {
    flex: 0 0 50%;
  }

  .about-us__text {
    p {
      font-size: rem(18);
    }
  }
}

@include breakpoint(large) {
  .about-us__body {
    max-width: calc(90% - 100px);
  }

  .about-us-imgblock {
    gap: rem(40);
  }

  .about-us__img img {
    height: rem(220);
    width: rem(220);
  }

  .about-us__text {
    flex: 0 0 45%;
  }

  .about-us__imgblock {
    flex: 0 0 55%;
  }
}

// holiday shipping deadlines checkout page
.checkout__shipping {
  margin-block-start: rem(-10);
  margin-block-end: rem(10);

  h2 {
    color: var(--bs-primary);
    margin: 0;
    margin-block-end: rem(10);
    padding: 0;
    font-size: rem(20);
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
  }

  &-deadlines {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;

    .flex__item {
      font-size: rem(18);
      font-weight: 700;
      color: var(--bs-gray-600);
      border-bottom: rem(2) solid var(--bs-gray-600);
      flex: 1 1 100%;
      text-transform: uppercase;
      padding-block-end: rem(20);
      margin-block-end: rem(20);
      font-style: italic;

      span {
        font-weight: normal;
        font-size: rem(20);
        color: var(--bs-gray-dark);
        display: block;
      }

      &:last-child {
        border-bottom: none;
        margin-block-end: rem(30);
        padding-block-end: 0;
      }
    }

    @include breakpoint(small) {
      .flex__item {
        flex: 1 1 33.333%;
        border-bottom: none;
        padding-block-start: rem(5);
        padding-block-end: rem(5);
        margin-block-end: rem(5);
        border-right: rem(2) solid var(--bs-gray-600);
        font-size: rem(14);

        &:last-child {
          border-right: none;
          margin-block-end: 0;
        }

        span {
          font-size: rem(14);
          font-weight: normal;
          margin-block-end: 0;
          color: var(--bs-gray-600);
        }
      }
    }
  }

  &-small {
    font-size: rem(12);
  }
}

.holiday__shipping h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(5);
  margin: 0;
  padding: rem(10);
  background: var(--bs-gray-300);
  font-size: rem(14);
  letter-spacing: rem(-0.5);
  font-weight: 700;
  color: var(--bs-primary);
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  cursor: pointer;

  @include breakpoint(small) {
    font-size: rem(24);
    letter-spacing: normal;
  }

  @include breakpoint(medium) {
    font-size: rem(30);
    letter-spacing: normal;
  }
}

.holiday__shipping {
  &-deadlines {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
    gap: rem(12);
    margin-block-end: rem(20);

    .flex__item {
      flex: 1 1 100%;
      padding-block: rem(10);
      font-size: rem(20);
      font-weight: 700;
      font-style: italic;
      color: var(--bs-primary);
      border-bottom: rem(2) solid var(--bs-gray-dark);
      text-transform: uppercase;

      span {
        font-weight: normal;
        font-size: rem(18);
        color: var(--bs-gray-dark);
        display: block;
      }

      &:last-child {
        border-bottom: none;
        padding-block-end: 0;
      }
    }

    @include breakpoint(small) {
      gap: 0;
      margin-block: rem(15);

      .flex__item {
        flex: 1 1 33.333%;
        border-bottom: none;
        padding-block-start: rem(10);
        border-right: rem(2) solid var(--bs-gray-dark);

        &:last-child {
          border-right: none;
          margin-block-end: 0;
        }

        span {
          font-size: rem(16);
          font-weight: normal;
          margin-block-end: 0;
          color: var(--bs-gray-dark);
        }
      }
    }

    @include breakpoint(medium) {
      margin-block-start: rem(20);

      .flex__item {
        font-size: rem(24);
        span {
          font-size: rem(16);
        }
      }
    }
  }

  &-landsend {
    font-size: rem(16);
    padding-inline: rem(10);

    .landsend-header {
      font-size: rem(18);
      font-weight: 700;

      span {
        display: block;
        color: var(--bs-primary);
      }
    }
    @include breakpoint(small) {
      &-landsend {
        padding-inline: rem(10);
      }
    }

    @include breakpoint(medium) {
      &-landsend {
        padding-inline: 0;
      }
    }
  }
}

#toggle-target {
  display: none;
}

/* TEXTBOOK HOMEPAGE */
/* ***************** */
.price-match {
  padding-block-start: rem(25);
  margin: rem(25) auto;

  h2 {
    margin-block-end: rem(10);
    font-weight: 700;
    font-size: rem(30);
    border-bottom: rem(2) solid var(--bs-gray-dark);
    line-height: 2;
  }

  p {
    font-weight: 600;
    margin-block-start: rem(10);
    font-size: rem(16);
    line-height: 2.5;

    &.lg {
      font-size: rem(30);
      line-height: 1;
      margin: 0;
      margin-block-start: rem(20);
    }
  }

  ul {
    list-style: disc outside;
    margin-inline-start: rem(30);
  }

  @include breakpoint(medium) {
    [class^='col-'] {
      padding: 0;

      &:first-child {
        border-right: rem(2) solid var(--bs-gray-dark);
      }
    }
  }
}

.text-home {
  &__grid {
    display: flex;
    flex-wrap: wrap;
    margin-block-start: rem(20);
    justify-content: center;
    align-items: center;

    &-item {
      flex: 0 0 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      @include breakpoint(medium) {
        flex: 0 0 33.3333%;
      }

      .wiscard {
        .header {
          margin-block-end: rem(10);
          line-height: 1.1;
          font-size: rem(27);
          font-weight: 300;

          .discount {
            color: var(--bs-primary);
          }
        }

        .subhead {
          color: var(--bs-primary);
          font-size: rem(15);
          font-weight: 300;
        }

        img {
          margin-block-end: rem(20);
        }

        .fine-print {
          font-size: rem(12);
        }
      }
    }
  }
}

.buy-now-hdr {
  text-align: center;
  margin: rem(50) auto;
  color: var(--bs-primary);

  h2 {
    font-size: rem(42);
    margin-block-end: rem(15);
    font-weight: 700;
  }

  &:has(.btn.btn-xlrg) {
    a {
      height: rem(70);
      padding-inline: rem(40);
      font-size: rem(32) !important;
    }

    @include breakpoint(small) {
      a {
        height: rem(90);
        font-size: rem(48) !important;
      }
    }
  }
}

.text {
  &__grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;

    &-item {
      margin-block-end: rem(40);
      flex: 1 1 100%;

      @include breakpoint(medium) {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        flex: 0 0 30%;
        padding: 0 rem(20);
      }
    }

    .item-icon {
      color: var(--bs-primary);
      flex: 0 0 20%;
      display: block;
      text-align: center;
      padding: 0 rem(10);
      font-size: rem(60);

      @include breakpoint(medium) {
        font-size: rem(75);
      }
    }

    .item-text {
      flex: 0 0 80%;
      padding: 0 rem(10);

      a.btn {
        width: 100%;
        margin-block-start: auto;

        @include breakpoint(medium) {
          width: auto;
        }
      }
    }

    @include breakpoint(medium) {
      padding: rem(40) 0;
    }
  }
}

.cta-btn-lg {
  display: block;
  width: 80%;
  margin: auto;
  text-align: center;
  background-color: transparent;
  border: rem(2) solid var(--bs-primary);
  color: var(--bs-primary);
  padding: rem(15);
  font-size: rem(20);
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.25s ease-in-out;
  border-radius: rem(5);

  &:link,
  &:visited {
  }

  &:hover {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    text-decoration: none;
    color: var(--bs-white);
  }

  &:active,
  &:active:hover,
  &:focus,
  &:active:focus {
    background-color: color-mix(in srgb, var(--bs-primary), #000 4%);
    border-color: color-mix(in srgb, var(--bs-primary), #000 5%);
    text-decoration: none;
    color: var(--bs-white);
  }

  @include breakpoint(medium) {
    width: 100%;
  }
}
