@use '../util' as *;

.hero__image {
  margin-block-end: rem(24);

  @include breakpoint(small) {
    padding-block-end: rem(40);
  }
}

.featured {
  &__wrapper {
    //
  }

  &-item {
    text-align: center;
    margin-inline: rem(15);
    counter-increment: featured-item;

    a {
      display: block;
    }

    img {
      margin-inline: auto;
    }

    p {
      margin: rem(10) 0 0;
      font-weight: 700;
      text-transform: uppercase;
      font-size: rem(11);
    }
  }

  @include breakpoint(small) {
    &__wrapper {
      margin-block-end: rem(40);
    }

    &__item {
      p {
        font-size: rem(18);
      }
    }
  }
}

.wiscard {
  &__wrapper {
    margin-block-end: rem(20);
    padding-inline-start: rem(10);
    padding-inline-end: rem(10);
  }

  &__item {
    &--img {
      text-align: center;
      margin-block-end: rem(30);
    }

    &--text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .fine-print {
        font-size: rem(14);
        text-align: center;
        width: 85%;
      }
    }
  }

  &__header {
    color: var(--bs-primary);
    font-size: rem(45);
    font-weight: 700;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    line-height: 1.25;
    margin-block-end: rem(15);

    span {
      display: block;
      font-size: rem(80);

      &.sub-header {
        font-size: rem(25);
        color: var(--bs-secondary);
      }
    }
  }

  @include breakpoint(medium) {
    &__wrapper {
      margin-block-end: rem(100);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(40);
    }

    &__item {
      &--img {
        flex: 0 0 rem(375);
        margin-block-end: 0;
        padding: 0;
      }

      &--text {
        align-items: flex-start;

        .fine-print {
          font-size: rem(11);
          width: 100%;
        }
      }
    }

    &__header {
      margin-block-end: rem(30);
      font-size: rem(60);

      span {
        &.sub-header {
          text-align: center;
          font-size: rem(40);
        }
      }
    }
  }
}

.wrapper {
  margin-block-end: rem(30);

  &:last-child {
    margin-block-end: 0;
  }
}

.giftcard {
  &__container {
    &-fluid {
      background-color: var(--bs-gray-400);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: rem(30) rem(10);
      margin-block-end: rem(30);

      h2 {
        color: var(--bs-primary);
        font-weight: 700;
        font-size: rem(50);
        margin-block-end: rem(10);
      }

      p {
        font-size: rem(20);
        font-weight: 300;
        margin-block-end: rem(10);
      }

      .btn {
        border-radius: rem(10);
        text-transform: uppercase;
        font-size: rem(25);
        margin-block-end: rem(30);
      }

      @include breakpoint(small) {
        background-color: transparent;
        padding: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
      }
    }
  }

  &__banner {
    display: none;

    @include breakpoint(small) {
      display: block;
    }
  }
}

.container__stacked-sm {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint(small) {
    display: none;
  }
}

// holiday shipping deadlines checkout page
.checkout__shipping {
  margin-block-start: rem(-10);
  margin-block-end: rem(10);

  h2 {
    color: var(--bs-primary);
    margin: 0;
    margin-block-end: rem(10);
    padding: 0;
    font-size: rem(20);
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
  }

  &-deadlines {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;

    .flex__item {
      font-size: rem(18);
      font-weight: 700;
      color: var(--bs-gray-600);
      border-bottom: rem(2) solid var(--bs-gray-600);
      flex: 1 1 100%;
      text-transform: uppercase;
      padding-block-end: rem(20);
      margin-block-end: rem(20);
      font-style: italic;

      span {
        font-weight: normal;
        font-size: rem(20);
        color: var(--bs-gray-dark);
        display: block;
      }

      &:last-child {
        border-bottom: none;
        margin-block-end: rem(30);
        padding-block-end: 0;
      }
    }

    @include breakpoint(small) {
      .flex__item {
        flex: 1 1 33.333%;
        border-bottom: none;
        padding-block-start: rem(5);
        padding-block-end: rem(5);
        margin-block-end: rem(5);
        border-right: rem(2) solid var(--bs-gray-600);
        font-size: rem(14);

        &:last-child {
          border-right: none;
          margin-block-end: 0;
        }

        span {
          font-size: rem(14);
          font-weight: normal;
          margin-block-end: 0;
          color: var(--bs-gray-600);
        }
      }
    }
  }

  &-small {
    font-size: rem(12);
  }
}

.holiday__shipping h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(5);
  margin: 0;
  padding: rem(10);
  background: var(--bs-gray-300);
  font-size: rem(14);
  letter-spacing: rem(-0.5);
  font-weight: 700;
  color: var(--bs-primary);
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  cursor: pointer;

  @include breakpoint(small) {
    font-size: rem(24);
    letter-spacing: normal;
  }

  @include breakpoint(medium) {
    font-size: rem(30);
    letter-spacing: normal;
  }
}

.holiday__shipping {
  &-deadlines {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
    gap: rem(12);
    margin-block-end: rem(20);

    .flex__item {
      flex: 1 1 100%;
      padding-block: rem(10);
      font-size: rem(20);
      font-weight: 700;
      font-style: italic;
      color: var(--bs-primary);
      border-bottom: rem(2) solid var(--bs-gray-dark);
      text-transform: uppercase;

      span {
        font-weight: normal;
        font-size: rem(18);
        color: var(--bs-gray-dark);
        display: block;
      }

      &:last-child {
        border-bottom: none;
        padding-block-end: 0;
      }
    }

    @include breakpoint(small) {
      gap: 0;
      margin-block: rem(15);

      .flex__item {
        flex: 1 1 33.333%;
        border-bottom: none;
        padding-block-start: rem(10);
        border-right: rem(2) solid var(--bs-gray-dark);

        &:last-child {
          border-right: none;
          margin-block-end: 0;
        }

        span {
          font-size: rem(16);
          font-weight: normal;
          margin-block-end: 0;
          color: var(--bs-gray-dark);
        }
      }
    }

    @include breakpoint(medium) {
      margin-block-start: rem(20);

      .flex__item {
        font-size: rem(24);
        span {
          font-size: rem(16);
        }
      }
    }
  }

  &-landsend {
    font-size: rem(16);
    padding-inline: rem(10);

    .landsend-header {
      font-size: rem(18);
      font-weight: 700;

      span {
        display: block;
        color: var(--bs-primary);
      }
    }
    @include breakpoint(small) {
      &-landsend {
        padding-inline: rem(10);
      }
    }

    @include breakpoint(medium) {
      &-landsend {
        padding-inline: 0;
      }
    }
  }
}

#toggle-target {
  display: none;
}

.uw-info {
  display: block;
  margin-inline-start: rem(10);
  margin-inline-end: rem(10);

  @include breakpoint(medium) {
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
}

/* TEXTBOOK HOMEPAGE */
/* ***************** */
.price-match {
  padding-block-start: rem(25);
  margin: rem(25) auto;

  h2 {
    margin-block-end: rem(10);
    font-weight: 700;
    font-size: rem(30);
    border-bottom: rem(2) solid var(--bs-gray-dark);
    line-height: 2;
  }

  p {
    font-weight: 600;
    margin-block-start: rem(10);
    font-size: rem(16);
    line-height: 2.5;

    &.lg {
      font-size: rem(30);
      line-height: 1;
      margin: 0;
      margin-block-start: rem(20);
    }
  }

  ul {
    list-style: disc outside;
    margin-inline-start: rem(30);
  }

  @include breakpoint(medium) {
    [class^='col-'] {
      padding: 0;

      &:first-child {
        border-right: rem(2) solid var(--bs-gray-dark);
      }
    }
  }
}

.text-home {
  &__grid {
    display: flex;
    flex-wrap: wrap;
    margin-block-start: rem(20);
    justify-content: center;
    align-items: center;

    &-item {
      flex: 0 0 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      @include breakpoint(medium) {
        flex: 0 0 33.3333%;
      }

      .wiscard {
        .header {
          margin-block-end: rem(10);
          line-height: 1.1;
          font-size: rem(27);
          font-weight: 300;

          .discount {
            color: var(--bs-primary);
          }
        }

        .subhead {
          color: var(--bs-primary);
          font-size: rem(15);
          font-weight: 300;
        }

        img {
          margin-block-end: rem(20);
        }

        .fine-print {
          font-size: rem(12);
        }
      }
    }
  }
}

.buy-now-hdr {
  text-align: center;
  margin: rem(50) auto;
  color: var(--bs-primary);

  h2 {
    font-size: rem(42);
    margin-block-end: rem(15);
    font-weight: 700;
  }

  &:has(.btn.btn-xlrg) {
    a {
      height: rem(70);
      padding-inline: rem(40);
      font-size: rem(32) !important;
    }

    @include breakpoint(small) {
      a {
        height: rem(90);
        font-size: rem(48) !important;
      }
    }
  }
}

.text {
  &__grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;

    &-item {
      margin-block-end: rem(40);
      flex: 1 1 100%;

      @include breakpoint(medium) {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        flex: 0 0 30%;
        padding: 0 rem(20);
      }
    }

    .item-icon {
      color: var(--bs-primary);
      flex: 0 0 20%;
      display: block;
      text-align: center;
      padding: 0 rem(10);
      font-size: rem(60);

      @include breakpoint(medium) {
        font-size: rem(75);
      }
    }

    .item-text {
      flex: 0 0 80%;
      padding: 0 rem(10);

      a.btn {
        width: 100%;
        margin-block-start: auto;

        @include breakpoint(medium) {
          width: auto;
        }
      }
    }

    @include breakpoint(medium) {
      padding: rem(40) 0;
    }
  }
}

.cta-btn-lg {
  display: block;
  width: 80%;
  margin: auto;
  text-align: center;
  background-color: transparent;
  border: rem(2) solid var(--bs-primary);
  color: var(--bs-primary);
  padding: rem(15);
  font-size: rem(20);
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.25s ease-in-out;
  border-radius: rem(5);

  &:link,
  &:visited {
  }

  &:hover {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    text-decoration: none;
    color: var(--bs-white);
  }

  &:active,
  &:active:hover,
  &:focus,
  &:active:focus {
    background-color: color-mix(in srgb, var(--bs-primary), #000 4%);
    border-color: color-mix(in srgb, var(--bs-primary), #000 5%);
    text-decoration: none;
    color: var(--bs-white);
  }

  @include breakpoint(medium) {
    width: 100%;
  }
}
