@use '../util' as *;

.price-match {
  padding-top: 2.5rem;
  margin: 2.5rem auto;

  h2 {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 3rem;
    border-bottom: 2px solid var(--clr-black);
    line-height: 2;
  }

  p {
    font-weight: 600;
    margin-top: 1rem;
    font-size: 1.6rem;
    line-height: 2.5;

    &.lg {
      font-size: 3rem;
      line-height: 1;
      margin: 0;
      margin-top: 2rem;
    }
  }

  ul {
    list-style: disc outside;
    margin-left: 3rem;
  }

  @include breakpoint(medium) {
    [class^='col-'] {
      padding: 0;

      &:first-child {
        border-right: 2px solid var(--clr-black);
      }
    }
  }
}

.grid__banner {
  justify-content: center;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: 2rem;

  .grid__item-33 {
    padding: 0 1rem;

    @supports (display: flex) {
      display: flex;
      align-items: flex-start;

      &:not(:first-child) {
        margin-top: 2rem;
      }

      @include breakpoint(small) {
        &:not(:first-child) {
          margin-top: 0;
        }

        &:last-child {
          margin-top: 2rem;
        }
      }

      @include breakpoint(medium) {
        &:last-child {
          margin-top: 0;
        }
      }
    }
  }
}

.egiftCard {
  width: 100%;
  position: relative;
  border: 1px solid #000;

  &__header,
  &__footer {
    height: 50%;
    text-align: center;

    @include breakpoint(medium) {
      text-align: right;
    }
  }

  &__header {
    background-color: #000;
    color: #fff;
    font-weight: 700;
    font-size: 3.5rem;
    padding-right: 1rem;
  }

  &__footer {
    position: relative;
  }

  a.btn-rounded {
    &:link,
    &:visited {
      position: absolute;
      right: 50%;
      top: 50%;
      transform: translate(50%, -50%);
      background-color: color-mix(in srgb, var(--clr-light-gray-3), #000 10%);
      color: var(--clr-black);
      font-size: 3rem;
      text-align: center;
      display: inline-block;
      border-radius: 10rem;
      font-weight: bold;
      padding: 3px 2rem;
      width: 90%;
    }

    &:hover {
      text-decoration: none;
    }

    @include breakpoint(medium) {
      &:link,
      &:visited {
        right: 1rem;
        transform: translate(0, -50%);
        font-size: 1.8rem;
        width: auto;
      }
    }
  }

  &__link {
    display: none;

    @include breakpoint(medium) {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 1rem;
      z-index: 100;
    }
  }

  @include breakpoint(small) {
    margin-left: 2rem;
  }

  @include breakpoint(medium) {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.hiring__now,
a.hiring__now {
  display: block;
  width: 100%;
  background-color: transparent;
  margin-top: -2rem;
  text-align: center;
  font-size: 1.8rem;
  padding: 1rem;
  color: var(--clr-primary);
  text-decoration: none;
  font-weight: 700;
  // border-bottom: 1px solid lighten(var(--clr-black), 30%);
}

.homepage__wrapper {
  background-color: var(--clr-white);
}

.grid {
  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-around;
    max-width: 117rem;
    margin-top: 4rem;
    gap: 2rem;

    @include breakpoint(small) {
      margin-left: auto;
      margin-right: auto;
    }

    &-item {
      text-align: center;
      margin-bottom: 2rem;
      max-width: 40%;

      p {
        margin-top: 2rem;
        margin-bottom: 0;
        font-weight: 700;
        text-transform: uppercase;
      }

      img {
        transform: scale(1);
        transition: all 0.25s ease-in-out;

        &:hover {
          transform: scale(1.05);
          transition: all 0.25s ease-in-out;
        }
      }
    }

    &-single {
      padding: 0 1rem;
      margin-bottom: 2rem;
      flex: 1 1 100%;

      img {
        border-radius: 2rem;
      }
    }
  }
}

.hero__image {
  background-color: var(--clr-white);
  padding-bottom: 4rem;
  // margin-top: 2rem;

  .img {
    &-small {
      @include breakpoint(small) {
        display: none;
      }
    }

    &-medium {
      display: none;
    }

    &-large {
      display: none;

      @include breakpoint(small) {
        display: block;
      }
    }
  }
}

.wiscard {
  &__wrapper {
    margin: 9rem auto 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__item {
    &.img {
      margin-bottom: 3rem;
    }

    &.text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      padding-left: 2rem;

      p {
        padding: 0;
        margin: 0;
      }

      .header {
        font-size: 4rem;
        font-weight: 400;

        .discount {
          color: var(--clr-primary);
        }

        .small {
          vertical-align: text-top;
          font-size: 75%;
        }
      }

      .subhead {
        color: var(--clr-primary);
        font-size: 2.5rem;
        font-weight: 300;
        margin-top: -1rem;
        margin-bottom: 2rem;
      }

      .fine-print {
        font-size: 1.4rem;
      }
    }
  }

  @include breakpoint(medium) {
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__item {
      padding-left: 0.5rem;
      padding-right: 0.5rem;

      &.img {
        flex: 0 0 37.5rem;
        margin-bottom: 0;
        max-width: 37.5rem;
        padding: 0;
      }

      &.text {
        .header {
          font-size: 5.5rem;
        }
        .subhead {
          font-size: 4rem;
        }

        .fine-print {
          max-width: 110rem;
          margin: 0 auto;
        }
      }
    }
  }
}

.featured__items-block {
  width: 100%;
  background-color: white;
  padding: 2rem 1rem;
}

.featured__items-block {
  .card {
    &.featuredDynamic {
      border-radius: 2rem;
      max-width: 115rem;
    }

    &-header {
      border-radius: 2rem 2rem 0 0;
      text-align: center;
      font-weight: 700;
      color: var(--clr-black);
      font-size: 2rem;
    }
  }
}

.featuredWrap {
  border: none;
}

.giftcard {
  &__container {
    &-fluid {
      background-color: var(--clr-light-gray-3);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 3rem 1rem;
      margin: 1rem;

      h2 {
        color: var(--clr-primary);
        font-weight: 700;
        font-size: 7rem;
        margin-bottom: 2rem;
      }

      p {
        font-size: 2.5rem;
        font-weight: 300;
      }

      .btn {
        border-radius: 1rem;
        text-transform: uppercase;
        font-size: 2.5rem;
        margin-bottom: 3rem;
      }

      @include breakpoint(medium) {
        background-color: transparent;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

.cta-btn-lg {
  display: block;
  width: 80%;
  margin: auto;
  text-align: center;
  background-color: transparent;
  border: 2px solid var(--clr-primary);
  color: var(--clr-primary);
  padding: 1.5rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.25s ease-in-out;
  border-radius: 5px;

  &:link,
  &:visited {
  }

  &:hover {
    background-color: var(--clr-primary);
    border-color: var(--clr-primary);
    text-decoration: none;
    color: var(--clr-white);
  }

  &:active,
  &:active:hover,
  &:focus,
  &:active:focus {
    background-color: color-mix(in srgb, var(--clr-primary), #000 4%);
    border-color: color-mix(in srgb, var(--clr-primary), #000 5%);
    text-decoration: none;
    color: var(--clr-white);
  }

  @include breakpoint(medium) {
    width: 100%;
  }
}

.holiday-banner {
  margin: 0 0 2rem;
  padding: 1rem;
  background: var(--clr-light-gray-2);
  font-size: 3rem;
  font-weight: 700;
  color: var(--clr-primary);
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
}

.holiday-deadline {
  text-align: center;

  .grid-item {
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: 700;
    display: block;
    color: var(--clr-primary);
    border-bottom: 2px solid var(--clr-black);
    flex: 1 1 100%;
    text-transform: uppercase;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    font-style: italic;

    span {
      font-weight: normal;
      font-size: 2rem;
      color: var(--clr-black);
      display: block;

      &.numbers {
        padding-bottom: 0;
        font-size: 2.5rem;
        font-weight: 700;
        color: var(--clr-primary);
        display: inline;
      }
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: 3rem;
      padding-bottom: 0;
    }
  }

  @include breakpoint(small) {
    .grid-item {
      flex: 1 1 33.333%;
      border-bottom: none;
      padding-top: 1rem;
      border-right: 2px solid var(--clr-black);

      &:last-child {
        border-right: none;
        margin-bottom: 0;
      }

      span {
        font-size: 1.6rem;
        font-weight: normal;
        // padding-bottom: 2rem;
        margin-bottom: 0;
        color: var(--clr-black);

        &.numbers {
          font-size: 3rem;
          font-weight: 700;
          color: var(--clr-primary);
          display: inline;
        }
      }
    }
  }
}

.uw-info {
  display: block;
  margin-left: 1rem;
  margin-right: 1rem;

  @include breakpoint(medium) {
    margin-left: 0;
    margin-right: 0;
  }
}

/* TEXTBOOK HOMEPAGE */
/* ***************** */
.text-home {
  &__grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;

    &-item {
      flex: 0 0 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      @include breakpoint(medium) {
        flex: 0 0 33.3333%;
      }

      .wiscard {
        .header {
          margin-bottom: 1rem;
          line-height: 1.1;
          font-size: 2.7rem;
          font-weight: 300;

          .discount {
            color: var(--clr-primary);
          }
        }

        .subhead {
          color: var(--clr-primary);
          font-size: 1.5rem;
          font-weight: 300;
        }

        img {
          margin-bottom: 2rem;
        }

        .fine-print {
          font-size: 1.2rem;
        }
      }
    }
  }
}

.buy-now-hdr {
  text-align: center;
  margin: 5rem auto;
  color: var(--clr-primary);

  h2 {
    font-size: 4.2rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
  }

  .btn-xlrg {
    text-transform: uppercase;
    font-size: 3.6rem;
    font-weight: 700;
    height: 7rem;
    line-height: 7rem;

    @include breakpoint(medium) {
      height: 9rem;
      font-size: 4.8rem;
      line-height: 9rem;
      padding: 0px 4rem;
    }
  }
}

.text {
  &__grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    &-item {
      flex: 1 1 100%;
      display: flex;
      margin-bottom: 4rem;

      @include breakpoint(medium) {
        flex: 0 0 33.3333%;
        padding: 0 2rem;
      }
    }

    .item-icon {
      color: var(--clr-primary);
      flex: 0 0 20%;
      display: block;
      text-align: center;
      padding: 0 1rem;
      font-size: 6rem;

      @include breakpoint(medium) {
        font-size: 7.5rem;
      }
    }

    .item-text {
      flex: 0 0 80%;
      padding: 0 1rem;

      a.btn {
        width: 100%;
        margin-top: auto;

        @include breakpoint(medium) {
          width: auto;
        }
      }
    }

    @include breakpoint(medium) {
      padding: 4rem 0;
    }
  }
}
