@use '../util' as *;

.ikea {
  &__grid-item {
    &:nth-child(1),
    &:nth-child(3) {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

      img {
        max-width: 47%;
      }
    }

    &:nth-child(2) {
      h2,
      h3 {
        text-wrap: balance;
        margin-block-end: rem(20);
      }

      h2 {
        font-size: rem(40);
        span.underline {
          text-decoration: underline;
        }
        span.highlight {
          color: var(--bs-primary);
        }
      }

      h3 {
        font-size: rem(20);
        line-height: 1.25;
      }
    }
  }

  &-disclaimer {
    background-color: #d5d5d5;
    color: var(--bs-black);
    margin-block-start: rem(30);
    padding: rem(15);
    font-size: rem(12);
    text-align: center;
    font-weight: 600;
  }

  @include breakpoint(medium) {
    &__grid {
      display: grid;
      grid-template-columns: rem(200) 1fr rem(150);
      gap: rem(20);
    }

    &__grid-item {
      &:nth-child(1),
      &:nth-child(3) {
        flex-direction: column;
        justify-content: flex-start;
        gap: rem(20);

        img {
          max-width: 100%;
        }
      }
    }

    &-disclaimer {
      font-size: rem(14);
      margin-block-start: rem(20);
      padding-inline: rem(5);
    }
  }
}

// .ikea {
//   &__grid {
//     //
//   }

//   &__grid-item {
//     padding: rem(15) rem(10);

//     &:first-child {
//       background-color: var(--ikea-blue);
//       color: var(--bs-white);

//       .ikea__card {
//         display: flex;
//         align-items: flex-start;
//         gap: rem(20);

//         a {
//           color: currentColor;
//           text-decoration: underline;
//         }

//         p span {
//           font-weight: 600;
//           font-size: 110%;
//         }
//       }

//       .icon {
//         font-size: rem(50);
//       }
//     }

//     &:nth-child(2) {
//       align-items: flex-start;

//       p {
//         font-weight: 600;

//         &.header {
//           font-size: 110%;
//         }
//       }

//       .ikea__badgers {
//         padding: rem(15) rem(10);
//         background-color: var(--bs-primary);
//         color: var(--bs-white);
//         width: 100%;
//         max-width: rem(319);

//         p {
//           font-weight: 600;
//           font-size: 110%;
//         }
//       }
//     }

//     &:nth-child(3) {
//       display: flex;
//       flex-direction: column;
//       gap: rem(20);
//       align-items: stretch;
//     }
//   }

//   @include breakpoint(small) {
//     &__grid-item {
//       &:first-child {
//         display: flex;
//         align-items: flex-start;
//         justify-content: space-between;

//         .ikea__card {
//           flex-direction: column;
//           gap: rem(10);
//           flex: 0 0 33.333%;
//         }

//         .icon {
//           font-size: rem(55);
//         }
//       }

//       &:nth-child(3) {
//         flex-direction: row;
//         flex-wrap: nowrap;
//         align-items: center;
//         justify-content: space-between;
//         gap: rem(10);
//         padding-inline: 0;

//         img {
//           flex-shrink: 1;
//         }
//       }
//     }
//   }

//   @include breakpoint(medium) {
//     &__grid {
//       display: grid;
//       grid-template-columns: rem(310) 1fr;
//       grid-template-rows: auto;
//       gap: rem(30);
//       max-width: rem(1700);
//       margin-inline: auto;
//     }

//     &__grid-item {
//       font-size: rem(20);
//       &:first-child {
//         flex-direction: column;

//         grid-area: 1 / 1 / 3 / 2;
//       }

//       &:nth-child(2) {
//         display: flex;
//         gap: rem(30);
//         padding-inline-end: rem(0);
//       }

//       &:nth-child(3) {
//         p {
//           font-size: 120%;
//         }
//       }
//     }
//   }
// }
