@use '../util' as *;

.ikea {
  &__grid {
    //
  }

  &__grid-item {
    padding: rem(15) rem(10);

    &:first-child {
      background-color: var(--ikea-blue);
      color: var(--bs-white);

      .ikea__card {
        display: flex;
        align-items: flex-start;
        gap: rem(20);

        a {
          color: currentColor;
          text-decoration: underline;
        }

        p span {
          font-weight: 600;
          font-size: 110%;
        }
      }

      .icon {
        font-size: rem(50);
      }
    }

    &:nth-child(2) {
      p {
        font-weight: 600;

        &.header {
          font-size: 110%;
        }
      }

      .ikea__badgers {
        padding: rem(15) rem(10);
        background-color: var(--bs-primary);
        color: var(--bs-white);
        width: 100%;
        max-width: rem(319);

        p {
          font-weight: 600;
          font-size: 110%;
        }
      }
    }

    &:nth-child(3) {
      display: flex;
      flex-direction: column;
      gap: rem(20);
      align-items: stretch;
    }
  }

  @include breakpoint(small) {
    &__grid-item {
      &:first-child {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .ikea__card {
          flex-direction: column;
          gap: rem(10);
          flex: 0 0 33.333%;
        }

        .icon {
          font-size: rem(55);
        }
      }

      &:nth-child(3) {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        gap: rem(10);
        padding-inline: 0;

        img {
          flex-shrink: 1;
        }
      }
    }
  }

  @include breakpoint(medium) {
    &__grid {
      display: grid;
      grid-template-columns: rem(310) 1fr;
      grid-template-rows: auto;
      gap: rem(30);
      max-width: rem(1700);
      margin-inline: auto;
    }

    &__grid-item {
      font-size: rem(20);
      &:first-child {
        flex-direction: column;

        grid-area: 1 / 1 / 3 / 2;
      }

      &:nth-child(2) {
        display: flex;
        gap: rem(30);
        padding-inline-end: rem(0);
      }

      &:nth-child(3) {
        p {
          font-size: 120%;
        }
      }
    }
  }
}
