@use '../util' as *;

.store-hours {
  h2 {
    flex: rem(24);
    margin-block-end: rem(10);
  }

  ul {
    padding: 0;
  }
}

.locations,
.footer-locations {
  &__nav {
    ul,
    [role='tablist'] {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: rem(10);
      list-style: none;
    }

    li {
      flex: 0 0 50%;
      margin-block-end: rem(15);

      @include breakpoint(medium) {
        flex: 0 0 auto;
      }

      a {
        width: 100%;

        &.active,
        &[aria-selected='true'] {
          background-color: var(--bs-primary);
          color: var(--bs-white);
          box-shadow: none;
          text-decoration: none;
          border-color: var(--bs-primary);
        }
      }
    }
  }

  &__map {
    position: relative;
    padding-block-end: 65%;
    height: 0;
    overflow: hidden;
    border-bottom: rem(1) solid var(--bs-gray-400);

    @include breakpoint(medium) {
      padding-block-end: 35%;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  &__hours {
    flex: 1 1 100%;
    background-color: var(--bs-gray-100);
    border: rem(1) solid color-mix(in srgb, var(--bs-gray-100), #000 5%);
    padding: rem(20) rem(10);

    p {
      margin-block-end: rem(10);
    }

    ul {
      list-style: none;
      padding: 0;
    }

    @include breakpoint(medium) {
      flex: 0 0 40%;
      padding: rem(20);
    }
  }

  &__info {
    img {
      display: block;
      border: rem(5) solid color-mix(in srgb, var(--bs-gray-100), #000 5%);
      border-radius: 100%;
      height: rem(150);
      width: rem(150);

      @include breakpoint(medium) {
        height: rem(200);
        width: rem(200);
      }
    }

    flex: 1 1 100%;
    padding: rem(20) rem(10) rem(20) rem(20);

    ul {
      margin-inline-start: rem(30);
      margin-block-end: rem(20);
    }

    h3 {
      font-size: rem(16);
    }

    @include breakpoint(medium) {
      flex: 0 0 60%;
    }
  }

  .tabs-nav {
    &[role='tablist'] {
      li {
        a {
          &.active,
          &[aria-selected='true'] {
            background-color: var(--bs-primary);
            color: var(--bs-white);
            box-shadow: none;
            text-decoration: none;
            border-color: var(--bs-primary);
          }
        }
      }
    }
  }
}

.hours {
  list-style: none;

  li {
    padding: rem(5);

    & + li {
      border-top: rem(1) solid var(--bs-gray-400);
    }

    &.opening {
      font-weight: 500;
      .hours__day {
        color: color-mix(in srgb, var(--bs-success), #000 15%);
      }
      .hours__times {
        color: color-mix(in srgb, var(--bs-primary), #fff 5%);
      }
    }

    &.closed,
    &.open {
      font-weight: 500;
    }

    &.closed {
      color: color-mix(in srgb, var(--bs-primary), #fff 5%);
    }

    &.open {
      color: color-mix(in srgb, var(--bs-success), #000 15%);
    }
  }

  &__day {
    display: inline-block;
    width: 50%;
    text-transform: capitalize;
  }
}

ul.store-phone li {
  margin-block-end: rem(10);
}
