@use '../util' as *;

.newBadge,
.saleBadge {
  font-weight: 700;
  padding: rem(5) rem(10);
  font-size: rem(14);
  text-transform: uppercase;

  &::after {
    display: none;
  }
}

.merchRank {
  display: none;
}

p.merchLink,
p.merchTitle {
  color: var(--clr-black);

  &:hover {
    text-decoration: none;
  }
}

p.merchTitle {
  font-weight: 700;
  font-size: inherit;
  margin: 0 0 rem(10);
  font-style: italic;
}

.pagination__box {
  border: rem(1) solid var(--clr-light-gray);
  background-color: var(--clr-white);
  padding: 0 rem(20) rem(20);
  z-index: 5000;
  position: fixed;
  bottom: rem(20);
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  text-align: center;

  @include breakpoint(medium) {
    width: auto;
    left: rem(20);
    transform: translateX(0);
  }
}

.pagination > li > a,
.pagination > li > span {
  font-size: rem(25);
  padding: rem(20);

  @include breakpoint(medium) {
    font-size: rem(18);
    padding: rem(4) rem(8);
  }
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: var(--clr-primary);
  border-color: var(--clr-primary);
}

// Previously Viewed Items
// Featured Items
.card.previousDynamic .card-header,
.card.featuredDynamic .card-header,
.card.checkoutDynamic .card-header {
  font-size: rem(25);
  margin: 0 0 rem(25);
  width: 100%;
  padding-bottom: rem(10);
  border-bottom: rem(1) solid var(--clr-black);
  display: block;
  text-align: center;

  span {
    display: inline-block;
    background-color: var(--clr-white);
    padding: rem(10);
    background-color: inherit;
  }

  @supports (display: grid) {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: rem(10);
    align-items: center;
    border-bottom: none;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background: none;

    span {
      padding: 0;
    }

    &::before,
    &::after {
      content: '';
      height: rem(1);
      display: block;
      // background-color: var(--clr-light-gray-2);
      background-color: currentColor;
    }
  }
}

.card.previousDynamic,
.card.featuredDynamic,
.card.checkoutDynamic {
  max-width: rem(1170);
  margin: rem(20) auto 0;
  border: none;
}

.dynamicCard .card-body .row.col-12 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.dynamicLeftArrow {
  left: 0;

  @include breakpoint(medium) {
    left: rem(20);
  }
}

.dynamicRightArrow {
  right: 0;

  @include breakpoint(medium) {
    right: rem(20);
  }
}
