@use '../util' as *;

.flexslider {
  width: 100%;
  margin: rem(10) auto;
  text-align: center;
  padding-block-end: rem(15);
  border-bottom: rem(1) solid var(--bs-gray-300);

  @include breakpoint(medium) {
    position: relative;
    display: flex;
    gap: rem(10);
    margin: 0;
    border-bottom: none;
  }
}

input.merchDisclaimer {
  margin-inline-end: rem(5);
}

p.merchDiscount {
  display: none;
}

span.btn-default,
button.btn-default.typeCodeOption {
  width: 47%;

  &:hover,
  &.typeSelected {
    border-width: rem(1) !important;
    border-color: var(--bs-primary) !important;
    color: var(--bs-white);
    background-color: var(--bs-primary);
  }

  @include breakpoint(medium) {
    width: rem(60);
    padding: 0 rem(10);
  }
}

span.btn-default.typeSelected {
  &:hover {
    cursor: default;
  }
}

.flex-control {
  &-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: rem(20);
    margin: 0;
    padding: 0;
    list-style: none;
    margin-block-start: rem(15);

    li {
      width: rem(100);
      height: rem(100);

      img {
        cursor: pointer;
        opacity: 0.5;
        display: block;
        max-width: 100%;
        height: auto;

        &.flex-active {
          cursor: default;
          opacity: 1;
        }
      }
    }

    @include breakpoint(medium) {
      display: block;
      height: rem(500);
      overflow-y: auto;

      li {
        margin: 0 auto rem(20);
        width: rem(80);
        height: rem(80);
      }
    }
  }
}

.rankImageWrapper span.ranking {
  color: var(--bs-white);
}

.merch {
  &__detail {
    margin: rem(20) auto;
    padding: 0 rem(5);

    &-slides {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &-images {
      width: auto;
      flex: 1 100%;
    }

    &-img {
      display: block;
      width: 100%;
      max-width: rem(600);
      height: auto;
      margin: auto;
    }

    &-info {
      width: auto;
      flex: 1 100%;
      font-size: rem(16);
      word-wrap: break-word;
      overflow: hidden;

      .message_merch_promo {
        padding: rem(10);
        margin-block-end: rem(15);
        border: rem(1) solid color-mix(in srgb, var(--bs-success), #000 20%);
      }
    }

    &-title {
      margin: rem(15) auto;
      font-size: rem(24);
      font-style: italic;
      font-weight: 700;
      color: var(--bs-primary);

      &-small {
        font-size: rem(24);
        font-weight: 700;
      }
    }

    &-price {
      font-size: rem(20);
      font-weight: 700;
      margin-block-end: rem(10);

      .original {
        text-decoration: line-through;
        margin-inline-end: rem(10);
      }

      .sale {
        color: var(--bs-primary);
      }
    }

    &-description {
      margin: rem(15) auto;
      padding: rem(10) 0 rem(20);
      border-top: rem(1) solid var(--bs-gray-dark);
      border-bottom: rem(1) solid var(--bs-gray-dark);
      position: relative;
      line-height: 1.6;

      ul,
      ol {
        list-style-position: outside;
        margin-inline-start: rem(20);

        ul,
        ol {
          padding-inline-start: rem(10);
        }
      }

      &-open {
        line-height: 1.6;
      }
    }

    &-sku span {
      font-weight: 700;
    }

    &-size,
    &-color {
      margin: rem(15) auto;
      padding: 0 0 rem(15);
      border-bottom: rem(1) solid var(--bs-gray-dark);
      position: relative;

      &-link {
        &:link,
        &:visited {
          text-decoration: underline;
          font-size: rem(16);
          text-transform: lowercase;
          margin-inline-start: rem(5);
          color: var(--bs-gray-dark);
        }
      }

      &-label {
        margin-block-end: rem(30);
      }

      &-picker {
        margin-block-end: 0;
        padding-inline: rem(5);
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 rem(-5);

        div {
          width: 47%;
          height: rem(50);
          text-align: center;
          margin: 0 rem(5) rem(30);
          font-size: rem(16);
          position: relative;

          input {
            display: none;

            &:checked + label {
              background-color: var(--bs-primary);
              color: var(--bs-white);
              font-weight: 700;
              cursor: default;
              border-color: var(--bs-primary);
            }
          }

          label {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: rem(15);
            margin: 0;
            line-height: 1.5;
            text-transform: uppercase;
            font-size: rem(12);
            border: rem(1) solid var(--bs-gray-dark);
            cursor: pointer;
            font-weight: 400;
            width: 100%;
            transition: all 0.25s ease;
          }
        }

        @include breakpoint(medium) {
          justify-content: initial;
          gap: rem(10);
        }
      }
    }

    &-add {
      flex-direction: column;

      &-btn {
        a {
          margin-block-end: rem(20);
          font-size: rem(18);
          text-transform: uppercase;
          width: 100%;
        }
      }
    }

    &-qty {
      margin-block-end: rem(30);

      label {
        display: block;
        margin-block-end: rem(15);
      }

      input {
        width: 100%;
        text-align: center;
        font-size: rem(20);
      }
    }

    &-overflow {
      display: none;
    }

    @include breakpoint(medium) {
      &-slides {
        flex: 1 80%;
        order: 2;
      }

      &-images {
        width: auto;
        flex: 0 50%;
      }

      &-info {
        width: auto;
        flex: 0 50%;
        // padding-inline-start: rem(20);
      }

      &-title {
        font-size: rem(20);

        &-small {
          font-size: rem(14);
        }
      }

      &-price {
        font-size: rem(14);
      }

      &-size,
      &-color {
        &-link {
          &:link,
          &:visited {
            font-size: rem(12);
          }
        }

        &-label {
          margin-block-end: rem(15);
        }

        &-picker {
          div {
            width: rem(100);
            height: rem(35);
            margin-block-end: rem(20);
            line-height: 2;

            label {
              padding: rem(5);
            }

            &.picker {
              width: rem(60);
            }
          }
        }
      }

      &-add {
        flex-direction: row;
        &-btn {
          display: flex;
          flex: 1 1 85%;
          flex-direction: row;
          padding-inline-start: rem(5);
          font-size: rem(15);

          a {
            margin-block-end: 0;
            width: 50%;
            font-size: rem(15);
          }
        }
      }

      &-qty {
        flex: 1 1 15%;
        flex-direction: inherit;
        margin-block-end: 0;
        padding-inline-end: rem(5);

        input {
          width: 100%;
          font-size: rem(14);
          padding: 0 rem(5) 0;
        }
      }
    }

    @include breakpoint(medium) {
      padding: 0;
      position: relative;
      z-index: 0;
      gap: rem(20);
      flex-wrap: nowrap;
    }
  }
}

.suggestedItem.merch__card-item {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  text-align: center;

  &:hover {
    opacity: 0.7;
    transition: opacity 0.25s ease-in-out;
  }
}

.suggestedLink.merch__card-link {
  text-decoration: none;

  .suggestedName.merch__card-title {
    font-weight: 700;
    color: var(--bs-gray-dark);
  }
}

.addedToCart {
  font-size: rem(16);
  margin-inline-start: 0;
  margin-block-end: rem(15);
  text-align: center;
  padding: rem(5);

  @include breakpoint(medium) {
    font-size: rem(12);
    padding: 0 0 0 rem(15);
    margin-block-end: 0;
    line-height: 1.2;
    width: 50%;
    font-size: rem(14);
  }
}

#item-disclaimer span.normal em {
  font-weight: 700;
  font-size: rem(25);
  margin: 0 rem(5);
  line-height: 0.5;
}

.merchDisclaimerError,
.merchSelectError,
.addGiftErrorLCS,
.addGiftError,
#wishlist-error {
  position: fixed;
  bottom: rem(5);
  left: rem(5);
  right: rem(5);
  z-index: 2000;
  background: rgba(#f2dede, 0.9);
  padding: rem(20);
  color: #a94442;
  border: rem(1) solid #ebccd1;

  i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: rem(10);
    cursor: pointer;
    font-size: rem(30);

    @include breakpoint(medium) {
      top: rem(10);
      transform: translateY(0);
      font-size: rem(16);
    }
  }

  @include breakpoint(medium) {
    top: 50%;
    transform: translateY(-50%);
    width: rem(300);
    right: rem(100);
    left: initial;
    bottom: initial;
  }
}

.suggestedImg {
  margin-inline: auto;
}

.heatgear,
.coldgear,
.storm,
.sideline {
  display: block;
  height: rem(24);
  width: rem(100);
  margin-block-end: rem(5);
}

.heatgear {
  background: url('https://i.univbkstr.com/v3/img/ua/tech/heatgear.png')
    no-repeat;
}
.coldgear {
  background: url('https://i.univbkstr.com/v3/img/ua/tech/coldgear.png')
    no-repeat;
}
.storm {
  background: url('https://i.univbkstr.com/v3/img/ua/tech/storm.png') no-repeat;
}
.sideline {
  background: url('https://i.univbkstr.com/v3/img/ua/tech/sideline.png')
    no-repeat;
}

p.sale-info {
  font-weight: bold;
  color: var(--bs-primary);
  margin: rem(5) 0;
  font-size: rem(14);
  letter-spacing: rem(1);
}

input.merchDisclaimer + span.checkmark {
  position: initial;
  background-color: transparent;
}

.lcsSizeWrapper {
  .btn.typeCodeOption {
    width: auto;
  }
}

.merch__detail-color-label {
  text-transform: capitalize;
}

.merch__detail-add .merch__detail-qty #merchQTY {
  border-radius: rem(4);
}
