@use '../util' as *;

#shipping-banner {
  text-align: center;
  padding: 0 rem(15);

  & > * {
    font-weight: 700;
  }

  span {
    display: none;

    @include breakpoint(medium) {
      display: inline;
    }
  }

  .sale-banner {
    background-color: #326cec;
    color: var(--bs-white);
    font-size: rem(30);
    line-height: 1.5;
    padding: rem(10);

    @include breakpoint(medium) {
      font-size: rem(40);
    }
  }

  .lg-text {
    font-size: rem(18);

    @include breakpoint(medium) {
      font-size: rem(20);
    }
  }

  .btn-xlrg.btn-blue {
    background-color: #326cec;
    display: inline-block;
    color: var(--bs-white);
    text-transform: uppercase;
    font-size: rem(30);
    padding: 0 rem(15);
    margin-bottom: rem(20);
    transition: all 0.2s ease;
    box-shadow: 0 rem(5) rem(5) rgba(77, 77, 77, 0.6);

    &:hover {
      text-decoration: none;
      -webkit-transform: translateY(rem(-3));
      transform: translateY(rem(-3));
      box-shadow: 0 rem(10) rem(20) rgba(77, 77, 77, 0.4);
      transition: all 0.2s ease;
    }

    @include breakpoint(medium) {
      font-size: rem(40);
    }
  }

  .small-disclaimer {
    font-size: rem(12);
  }

  p {
    color: #4d4d4d;
  }
}

.coupon {
  margin: rem(30) auto;
  padding: rem(10);
  text-align: center;
  border: rem(5) dashed #333;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;

  &__images {
    display: none;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__header {
    width: 100%;
    background-color: #333;
    color: var(--bs-white);
    padding: rem(5);
    text-transform: uppercase;
    font-size: rem(25);

    h3 {
      font-size: rem(70);
      text-align: center;
      line-height: 100%;
    }

    p {
      margin: 0;
      font-weight: 700;
    }

    @include breakpoint(medium) {
      padding: rem(5) rem(15);

      h3 {
        font-size: rem(135);
        letter-spacing: rem(2);
      }

      p {
        font-size: rem(40);
      }
    }
  }

  &__code {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: rem(5);
    height: rem(60);
    width: rem(225);
    margin: auto;

    &-text,
    &-id {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      font-weight: 700;
    }

    &-text {
      text-align: center;
      background-color: #fff;
      color: #333;
      font-size: rem(25);
      text-transform: uppercase;
    }

    &-id {
      color: white;
      font-size: rem(45);
    }
  }

  &__stores {
    font-weight: 700;
    margin-top: rem(20);
    font-size: rem(20);
  }

  &__footer {
    margin-top: rem(20);
    font-size: rem(12);
    text-align: center;
    position: relative;

    p {
      margin-bottom: 0;
    }
  }

  @include breakpoint(medium) {
    display: grid;
    grid-template-columns: rem(140) 1fr rem(140);
    grid-template-rows: auto;
    gap: 0;
    width: rem(1000);

    &__images {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    &__body {
      padding-inline: rem(15);
    }
  }
}

// Generic Signing Event Page
.signing {
  background: #9d1c30
    url('https://i.univbkstr.com/v3/img/pages/signing/bg-image.jpg') no-repeat
    left top;
  background-size: contain;
  color: var(--bs-white);
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  max-width: rem(1170);
  padding: 75% rem(40) rem(20);

  &__body {
    text-align: center;

    a {
      color: var(--bs-white);
      text-decoration: underline;
    }

    h1 {
      margin-left: rem(15);
      margin-bottom: rem(30);
    }

    ol {
      list-style-type: none;

      li {
        margin-bottom: rem(30);
      }
    }
  }

  @include breakpoint(small) {
    padding-left: 15%;
  }

  @include breakpoint(medium) {
    padding-top: 65%;
    min-height: rem(1210);

    h1 {
      margin-left: 0;
      font-size: rem(50);
    }

    ol {
      font-size: rem(30);
    }
  }
}

.validation-summary-errors:not(:empty) {
  --bs-alert-bg: transparent;
  --bs-alert-padding-x: rem(10);
  --bs-alert-padding-y: rem(10);
  --bs-alert-margin-bottom: rem(10);
  --bs-alert-border: rem(1) solid var(--bs-alert-border-color);
  --bs-alert-border-radius: rem(0.0375);
  position: relative;
  padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
  margin-bottom: var(--bs-alert-margin-bottom);
  color: var(--bs-alert-color);
  background-color: var(--bs-alert-bg);
  border: var(--bs-alert-border);
  border-radius: var(--bs-alert-border-radius);
  padding-left: rem(55);
  --bs-alert-color: #842029;
  --bs-alert-bg: #f8d7da;
  --bs-alert-border-color: #f5c2c7;

  &::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f071';
    font-size: rem(20);
    position: absolute;
    left: rem(20);
    top: 50%;
    transform: translateY(-50%);
  }

  ul {
    margin: 0;

    li {
      color: inherit;
      font-weight: 700;
    }
  }
}

.page {
  margin: auto;
  &-header {
    text-align: center;
  }

  h3 {
    color: var(--bs-primary);
    font-size: rem(30);
  }

  p {
    font-size: rem(20);
  }

  &-body {
    &-box {
      border: rem(5) solid var(--bs-primary);
      margin-bottom: rem(30);
      padding: rem(10);
      text-align: center;

      h3 {
        color: var(--bs-gray-dark);
        font-weight: 700;
      }
    }

    .row {
      margin-bottom: rem(30);
      .col-sm-4 {
        &:first-child {
          text-align: center;
          padding: rem(15);

          div {
            border-top: rem(3) solid var(--bs-gray-dark);
            border-bottom: rem(3) solid var(--bs-gray-dark);
            color: var(--bs-primary);
            font-weight: 700;
          }
        }
        &:not(:last-child) {
          margin-bottom: rem(40);
        }
      }

      @include breakpoint(medium) {
        .col-sm-4 {
          &:first-child {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            div {
              width: 80%;
              padding: rem(20);
              font-size: rem(25);
            }
          }
        }
      }
    }
  }

  &-footer {
    text-align: center;

    h3 {
      text-align: left;
    }
    p {
      font-size: rem(24);
      font-weight: 700;

      &.small {
        margin-top: rem(10);
        font-size: rem(13);
      }
    }

    a {
      &.bordered {
        display: block;
        color: var(--bs-gray-dark);
        font-size: rem(24);
        font-weight: 700;
        border: rem(1) solid var(--bs-primary);
        padding: rem(15);

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .text-stroke {
    font-size: rem(30);
    letter-spacing: rem(1.5);
    color: var(--bs-white);
    text-shadow:
      rem(-1) rem(-1) 0 var(--bs-primary),
      rem(1) rem(-1) 0 var(--bs-primary),
      rem(-1) rem(1) 0 var(--bs-primary),
      rem(1) rem(1) 0 var(--bs-primary);
  }

  &__wrapper {
    max-width: rem(1170);
    margin: auto;
  }
}

.code-img {
  background-color: var(--bs-gray-dark);
  max-width: rem(233);
  padding: rem(10);
  margin: auto;

  @include breakpoint(medium) {
    margin: 0;
    margin-left: auto;
  }
}

// Bag On Break
.bag-on-break {
  font-family: 'Pompiere', sans-serif;
  border: rem(1) solid var(--bs-primary);
  margin-bottom: rem(20);

  &__header {
    display: block;
  }

  h2,
  h3 {
    text-transform: uppercase;
    letter-spacing: rem(2);
    margin-bottom: rem(30);
  }

  h2 {
    margin-top: rem(10);
    font-size: rem(60);
    font-weight: 700;
    span {
      color: var(--bs-primary);
      letter-spacing: initial;
    }
  }

  h3 {
    color: var(--bs-primary);
    font-size: rem(40);
    font-weight: 700;
    text-align: center;
  }

  &__body {
    padding: 0 rem(40);

    ol {
      font-weight: 600;
      font-size: rem(30);
      margin-bottom: rem(40);

      li {
        margin-bottom: rem(20);

        span {
          color: var(--bs-primary);
        }
      }
    }
  }

  &__photos {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: rem(30);
    margin-bottom: rem(30);
  }

  &__rules {
    text-align: center;
    font-weight: 700;
    font-size: rem(18);
    letter-spacing: rem(1.5);
  }

  @include breakpoint(xsmall) {
    h2 {
      font-size: rem(90);
    }

    h3 {
      font-size: rem(70);
    }

    &__body {
      ol {
        font-size: rem(50);
      }
    }

    &__photos {
      img {
        max-width: 40%;
      }
    }

    &__rules {
      font-size: rem(30);
    }
  }

  @include breakpoint(small) {
    h3 {
      text-align: left;
    }

    &__photos {
      justify-content: space-between;
    }

    &__rules {
      text-align: right;
    }
  }
}

.margin-block-negative {
  margin-block: rem(-30);
}

// Special Signing Events
.heading {
  &__title {
    position: relative;
    padding: 0 rem(10) rem(32);
    margin-bottom: rem(32);
    color: var(--bs-primary);
    text-align: left;
    font-family: var(--ff-serif);
    font-weight: bold;
    font-style: italic;
    font-size: rem(24);
    line-height: rem(52);

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: rem(10);
      height: rem(8);
      width: calc(rem(60));
      background-color: var(--bs-primary);
    }

    @include breakpoint(small) {
      padding-inline: 0;
      padding-bottom: rem(16);

      &::after {
        left: 0;
      }
    }
  }

  &__sans {
    position: relative;
    padding: 0 rem(10) rem(16);
    margin-bottom: rem(16);
    color: var(--bs-primary);
    text-align: left;
    font-family: var(--ff-serif);
    font-weight: bold;
    font-style: italic;
    font-size: rem(24);
    line-height: rem(40);
  }

  &__subtitle {
    margin-bottom: rem(20);
    font-size: rem(20);
  }
}

.schedule {
  margin: 0 0 rem(24);
  padding: 0;

  figcaption {
    font-weight: bold;
    letter-spacing: rem(1);
    font-kerning: normal;
  }

  table {
    margin: 0 0 rem(24);
    border-collapse: collapse;
    font-size: rem(16);
    line-height: rem(24);
    padding: 0;
    width: 100%;

    td {
      padding-left: 0;
      border-bottom: rem(1) solid rgba(0, 0, 0, 0.12);
      padding: rem(11) rem(15);
      text-align: left;
    }

    @include breakpoint(small) {
      max-width: rem(650);
    }
  }
}

.event {
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 rem(10) rem(40);
    gap: rem(10);
  }

  &__info--main {
    order: 1;

    img {
      margin: rem(20) auto;
      max-width: 50%;
      display: block;
    }
  }

  &__info--sidebar {
    order: 0;
    min-width: rem(300);
    width: 100%;
    padding: 0 0 rem(32);
    margin: 0 auto rem(32);
    border-bottom: rem(18) solid rgb(243, 243, 243);
  }

  @include breakpoint(small) {
    &__wrapper {
      flex-direction: row;
      gap: rem(40);
    }

    &__info--main {
      order: 0;

      img {
        width: 100%;
      }
    }

    &__info--sidebar {
      order: 1;
      max-width: rem(252);
      border-bottom: none;
    }
  }
}

div.subHeader {
  position: relative;
  font-weight: 800;
  margin-top: rem(32);
  padding-bottom: rem(10);
  margin-bottom: rem(8);
  font-size: rem(14);
  line-height: rem(16);
  text-transform: capitalize;
  border-bottom: rem(2) solid rgb(204, 204, 204);

  &:first-child {
    margin-top: 0;
  }

  @include breakpoint(small) {
    border-bottom: none;

    &::after {
      content: '';
      position: absolute;
      bottom: rem(-2);
      left: 0;
      width: rem(34);
      height: rem(4);
      background-color: rgb(204, 204, 204);
    }
  }
}

@include breakpoint(medium) {
  .grid__event {
    display: grid;
    grid-template-columns: 1fr rem(550);
    align-items: center;
  }
}

// Shortstack
.bg-gray {
  background-color: var(--clr-light-gray-3);
}

.sst-iframe {
  border: none;
  min-width: 100%;
  height: rem(2106);
}

.border-lt-gray {
  border: rem(1) solid var(--clr-light-gray-2);
}

// .sale {
//   padding-top: rem(10);
//   background: var(--clr-gradient-start);
//   background: linear-gradient(
//     45deg,
//     var(--clr-gradient-start) 0%,
//     var(--clr-gradient-end) 100%
//   );
//   color: var(--bs-white);
//   width: 100%;
//   overflow: hidden;
//   margin-top: rem(-20);

//   &__wrapper {
//     padding: rem(20) rem(10) 0;
//     width: 100%;
//     max-width: rem(1080);
//     margin: 0 auto;
//   }

//   &__header {
//     text-transform: uppercase;
//     h2 {
//       text-align: center;
//       font-size: rem(40);

//       @include breakpoint(small) {
//         font-size: rem(50);
//       }
//     }
//   }

//   &__body {
//     max-width: rem(860);
//     margin: 0 auto rem(15);

//     p {
//       margin-bottom: 0;

//       &:last-child {
//         font-size: rem(15);

//         @include breakpoint(small) {
//           font-size: rem(25);
//         }
//       }
//     }
//   }

//   &__info {
//     font-family: 'Impact';
//     text-align: center;
//     text-transform: uppercase;
//     font-size: rem(80);
//     font-weight: 700;
//     color: yellow;
//     line-height: 1;

//     span {
//       display: block;
//       font-size: rem(100);
//     }
//     @include breakpoint(small) {
//       font-size: rem(87);
//       letter-spacing: rem(1);
//       span {
//         font-size: rem(260);
//       }
//     }
//   }

//   &__footer {
//     &-info {
//       text-align: center;
//       text-transform: uppercase;

//       p {
//         font-weight: 700;
//         line-height: 1;

//         @include breakpoint(small) {
//           font-size: rem(35);
//         }
//       }
//     }

//     &-btn {
//       display: inline-flex;
//       justify-content: center;
//       align-items: center;
//       gap: rem(10);
//       text-transform: uppercase;
//       background-color: yellow;
//       border-radius: rem(10);
//       padding: rem(5) rem(20);
//       text-align: center;
//       line-height: 1;
//       margin: 0 auto rem(20);
//       width: auto;

//       span {
//         color: black;
//         font-weight: 700;
//         display: inline-block;
//         &.code {
//           font-size: rem(45);
//         }
//       }

//       @include breakpoint(small) {
//         gap: rem(15);
//         margin-bottom: 0;
//         padding: rem(10) rem(20);

//         span {
//           font-size: rem(30);

//           &.code {
//             font-size: rem(70);
//           }
//         }
//       }

//       @include breakpoint(medium) {
//         gap: rem(20);
//         margin-bottom: 0;
//         padding: rem(20);

//         span {
//           font-size: rem(45);

//           &.code {
//             font-size: rem(100);
//           }
//         }
//       }
//     }

//     &-img {
//       text-align: center;
//     }

//     @include breakpoint(small) {
//       display: grid;
//       grid-template-columns: 1fr rem(300);
//       align-items: center;
//       gap: rem(20);
//     }
//   }

//   &__disclaimer {
//     background-color: var(--bs-white);
//     color: var(--bs-gray-dark);
//     padding: rem(40);
//     text-align: center;
//     font-size: rem(12);
//     font-weight: 700;
//   }
// }

.grid__faculty-sale {
  grid-template-columns: 1fr;
  align-items: center;
  gap: rem(20);
  margin-block: rem(30);

  @include breakpoint(xsmall) {
    grid-template-columns: repeat(2, 1fr);
    margin-block: 0 rem(40);
  }

  @include breakpoint(small) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint(medium) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.ubs-gift-card {
  .box__gray {
    display: flex;
    flex-direction: column;

    * {
      align-self: center;
    }
  }
  img {
    width: rem(150);
  }

  p {
    font-size: rem(20);
    font-weight: 700;

    &.sml {
      font-size: rem(11);
      font-weight: normal;
    }
  }
}
