@use '../util' as *;

#page-nav,
.page-nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;

  li {
    flex: 0 0 50%;
    padding: 0 rem(5);
    margin-bottom: rem(15);

    @include breakpoint(medium) {
      flex: 0 0 auto;
    }

    a {
      display: block;
      width: 100%;

      @include breakpoint(medium) {
        width: auto;
      }
    }
  }
}

.size-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include breakpoint(medium) {
    // justify-content: space-between;
  }

  a {
    flex: 0 0 50%;
    margin-bottom: rem(25);

    @include breakpoint(medium) {
      flex: 1;
    }
  }
}

.store {
  ul {
    margin-left: rem(30);
  }
}

.header {
  &__video {
    height: 70vh;
    margin-bottom: rem(20);
    overflow: hidden;
    position: relative;
    background-color: lightgray;
    background-image: url('https://i.univbkstr.com/v3/css/img/no-video-bg.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

    h2 {
      color: white;
      font-weight: bold;
      background-color: rgba(255, 255, 255, 0.75);
      color: #333;
      padding: rem(40);
    }

    p {
      color: white;
      font-weight: bold;
      background-color: rgba(255, 255, 255, 0.75);
      color: #333;
      padding: 0 0 rem(15);
      margin-top: rem(-25);
    }

    video,
    button.playpause {
      display: none;
    }
  }

  &__video-message {
    position: absolute;
    top: 0;

    height: auto;
    left: 0;
    right: 0;
  }

  @include breakpoint(medium) {
    &__video {
      height: 63vh;

      video {
        width: 100%;
        margin: auto;
        display: block;
        height: auto;
      }

      button.playpause {
        display: block;
        position: absolute;
        bottom: rem(10);
        right: rem(20);
        z-index: 100;
        border: 0;
        color: rgba(255, 255, 255, 0.5);
        background: rgba(0, 0, 0, 0.5);
        padding: rem(5) rem(10);
      }
    }
  }

  @include breakpoint(large) {
    &__video {
      height: 75vh;
    }
  }
}

.heading__line br {
  display: block;

  @include breakpoint(xsmall) {
    display: none;
  }
}

section.welcome {
  padding: rem(50) rem(15);
}

section.welcome:first-of-type {
  padding-top: rem(10);
}

section.welcome [class^='col-'] {
  padding: 0 rem(20);
}

section.welcome ul {
  padding-left: rem(30);
}

.apple-acs {
  width: rem(275);
  height: rem(29);
}
