@use '../util' as *;

.stripeout {
  &__header,
  &__map {
    margin-block-end: rem(30);
  }

  &__shop {
    display: flex;
    // justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: rem(10);
  }

  @include breakpoint(small) {
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: rem(10);
    }

    &__shop {
      // flex-direction: column;
      gap: rem(30);
    }
  }

  @include breakpoint(medium) {
    &__wrapper {
      gap: rem(20);
    }
  }
}
