@use '../util' as *;

.tech-block {
  .apple-acs {
    width: rem(275);
  }
}

.tech-block,
.service {
  padding: 0 0 rem(30) 0;
}

.tech-signup,
.service {
  padding: rem(60) 0;
}

.tech-block {
  background-image: linear-gradient(
    to top,
    rgba(77, 77, 77, 0.01),
    rgba(77, 77, 77, 0.035)
  );

  .col-md-3 {
    box-shadow: rem(1) rem(1) rem(10) rgba(0, 0, 0, 0.3);
    padding: rem(20);
    background-color: var(--clr-off-white);
  }

  .col-md-9 {
    padding: 0 0 0 rem(15);
  }
}

.service {
  max-width: rem(800);
  margin-inline: auto;
}

.tech {
  &__grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-block-end: rem(80);

    &--item {
      display: grid;
      align-items: center;
      text-align: center;
      block-size: 200px;
      background-color: lightgoldenrodyellow;
      border-radius: 0.5rem;
    }
  }

  &__accordion {
    --_panel-padding: 0.75rem;
    --_panel-gap: 1rem;

    display: grid;
    gap: var(--_panel-gap);
    grid-template-columns: repeat(2, 1fr);
  }
}

.accordion {
  &-trigger {
    cursor: pointer;
    text-align: left;
    background: var(--bs-primary);
    color: var(--bs-white);
    padding: var(--_panel-padding);
    border: 0;
    font-size: 1rem;
    width: 100%;
  }

  &-panel {
    .accordion-content {
      padding: var(--_panel-padding);
      background: lightgoldenrodyellow;

      &[aria-hidden='true'] {
        display: none;
      }
    }
  }
}
