@use '../util' as *;

.tech-block {
  .apple-acs {
    width: rem(275);
  }
}

.tech-block,
.graphite {
  padding: 0 0 rem(30) 0;
}

.tech-signup,
.graphite {
  padding: rem(60) 0;
}

.tech-block {
  background-image: linear-gradient(
    to top,
    rgba(77, 77, 77, 0.01),
    rgba(77, 77, 77, 0.035)
  );

  .col-md-3 {
    box-shadow: rem(1) rem(1) rem(10) rgba(0, 0, 0, 0.3);
    padding: rem(20);
    background-color: var(--clr-off-white);
  }

  .col-md-9 {
    padding: 0 0 0 rem(15);
  }
}

.graphite {
  .mainP {
    font-weight: 700;
    font-size: rem(24);
    margin-block-start: rem(20);
  }
}
