@use '../util' as *;

/*
 * ST Signup Forms styles
 */
/* Fonts and helpers */
.st-title {
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 8px;
}

.st-general-error {
  font-size: 1.25em;
  line-height: 1.5em;
  color: #f44336;
  margin-bottom: 8px;
  text-align: center;
}

/* Error icon */
.st-general-error img {
  width: 1.25em;
  height: 1.25em;
  margin-bottom: -0.2em;
}

.st-font-caption {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  line-height: 14px;
  font-weight: 400;
}

.st-font-caption a {
  color: rgba(0, 0, 0, 0.54);
}

.st-color-red {
  color: #f44336;
}

.st-hidden {
  display: none;
}

/* Sign-Up form */
.st-signupform {
  max-width: 392px;
  margin: rem(40) auto;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 24px;
  font-family: sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.5;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.14);
}

.st-signupform__label {
  color: gray;
  font-weight: bold;
  font-size: 12px;
  line-height: 2em;
  text-transform: uppercase;
}

.st-signupform .st-error-message {
  -moz-transform: translateY(-16px);
  -webkit-transform: translateY(-16px);
  -o-transform: translateY(-16px);
  -ms-transform: translateY(-16px);
  transform: translateY(-16px);
  color: red;
}

.st-signupform footer {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
  margin-top: 8px;
}

.st-signupform footer a {
  color: rgba(0, 0, 0, 0.54);
}

.st-signupform div {
  position: relative;
}

.st-signupform div.required:after {
  display: block;
  content: '*';
  color: #f44336;
  font-size: 32px;
  text-align: right;
  position: absolute;
  right: 9px;
  top: 25px;
  width: 10px;
  height: 20px;
}

.st-signupform input[type='submit'],
.st-signupform button[type='submit'] {
  display: block;
  margin: rem(20) auto 0;
}

.st-signupform input.st-signupform-validation-error,
textarea.st-signupform-validation-error,
.st-signupform input.st-signupform-validation-error:focus,
textarea.st-signupform-validation-error:focus {
  border-color: #f44336;
}

.step2-confirmationText {
  font-size: rem(20);
}
