@use '../util' as *;

/*
 * ST Signup Forms styles
 */
/* Fonts and helpers */
.st-title {
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: rem(8);
}

.st-general-error {
  font-size: 1.25em;
  line-height: 1.5em;
  color: #f44336;
  margin-bottom: rem(8);
  text-align: center;
}

/* Error icon */
.st-general-error img {
  width: 1.25em;
  height: 1.25em;
  margin-bottom: -0.2em;
}

.st-font-caption {
  font-size: rem(12);
  color: rgba(0, 0, 0, 0.54);
  line-height: rem(14);
  font-weight: 400;
}

.st-font-caption a {
  color: rgba(0, 0, 0, 0.54);
}

.st-color-red {
  color: #f44336;
}

.st-hidden {
  display: none;
}

/* Sign-Up form */
.st-signupform {
  max-width: rem(392);
  margin: rem(40) auto;
  border-radius: rem(4);
  box-sizing: border-box;
  padding: rem(24);
  font-family: sans-serif;
  font-size: rem(14);
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.5;
  background: white;
  box-shadow: 0 rem(4) rem(8) 0 rgba(0, 0, 0, 0.14);
}

.st-signupform__label {
  color: gray;
  font-weight: bold;
  font-size: rem(12);
  line-height: 2em;
  text-transform: uppercase;
}

.st-signupform .st-error-message {
  -moz-transform: translateY(rem(-16));
  -webkit-transform: translateY(rem(-16));
  -o-transform: translateY(rem(-16));
  -ms-transform: translateY(rem(-16));
  transform: translateY(rem(-16));
  color: red;
}

.st-signupform footer {
  font-size: rem(12);
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
  margin-top: rem(8);
}

.st-signupform footer a {
  color: rgba(0, 0, 0, 0.54);
}

.st-signupform div {
  position: relative;
}

.st-signupform div.required:after {
  display: block;
  content: '*';
  color: #f44336;
  font-size: rem(32);
  text-align: right;
  position: absolute;
  right: rem(9);
  top: rem(25);
  width: rem(10);
  height: rem(20);
}

.st-signupform input[type='submit'],
.st-signupform button[type='submit'] {
  display: block;
  margin: rem(20) auto 0;
}

.st-signupform input.st-signupform-validation-error,
textarea.st-signupform-validation-error,
.st-signupform input.st-signupform-validation-error:focus,
textarea.st-signupform-validation-error:focus {
  border-color: #f44336;
}

.step2-confirmationText {
  font-size: rem(20);
}
