.event {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;

    @media #{$mq-medium} {
        flex-direction: row;
        align-items: flex-start;

        &:not(:last-child) {
            border-bottom: 1px solid $light-gray-2;
        }
    }

    &__date {
        flex: 1 1 100%;
        margin-bottom: 1.5rem;
        padding: 0.5rem 1rem;
        font-size: 1.6rem;
        background-color: $primary-color;
        color: $white;
        text-shadow: 0 1px 0 darken($black, 5%);
        font-weight: 700;
        text-transform: uppercase;

        @media #{$mq-medium} {
            flex: 0 0 25%;
        }
    }

    &__content {
        flex: 1 1 100%;
        margin-bottom: 2rem;

        &--title {
            font-size: 1.8rem;
            font-weight: 700;
        }

        &--info {
            margin-top: 1rem;

            a:not(.btn) {
                color: blue;
                text-decoration: underline;
                transition: color 0.2s ease-in-out;

                &:hover {
                    color: $primary-color;
                    transition: color 0.2s ease-in-out;
                }
            }
        }

        @media #{$mq-medium} {
            flex: 0 0 75%;
            padding: 0 1rem 0 3rem;
        }
    }
}
