.img {
    &__border {
        border: 2px solid $primary-color;
        padding: 2px;
    }

    &__center {
        margin-right: auto;
        margin-left: auto;
    }

    &-parallax {
        width: 100vmax;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        pointer-events: none;
    }
}
