// 450px, 768px, 1024px, 1129px, 1366px, 1920px, 2560px
$breakpoints-up: (
  'xsmall': '28.125em',
  'small': '48em',
  'medium': '64em',
  'menu': '70.5625em',
  'large': '85.375em',
  'xlarge': '120em',
  'xxlarge': '160em',
);

// 449px, 767px, 1023px, 1128px, 1365px, 1919px, 2559px
$breakpoints-down: (
  'xsmall': '28.0625em',
  'small': '47.9375em',
  'medium': '63.9375em',
  'menu': '70.5em',
  'large': '85.3125em',
  'xlarge': '119.9375em',
  'xxlarge': '159.9375em',
);

@mixin breakpoint($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
