// .price-match {
//   margin: 2.5rem auto;

//   [class^="col-"] {
//     &:first-child {
//       padding-right: 0;
//     }

//     &:last-child {
//       padding-left: 0;
//     }

//     p {
//       margin-bottom: 2rem;
//       line-height: 2.5;
//       font-weight: 500;
//       font-size: 1.6rem;
//     }
//   }

//   h2 {
//     font-size: 3rem;
//     border-bottom: 2px solid $black;
//     margin-bottom: 2rem;
//   }
// }

#shipping-banner {
    text-align: center;
    padding: 0 1.5rem;

    & > * {
        font-weight: 700;
    }

    span {
        display: none;

        @media #{$mq-medium} {
            display: inline;
        }
    }

    .sale-banner {
        background-color: #326cec;
        color: $white;
        font-size: 3rem;
        line-height: 1.5;
        padding: 1rem;

        @media #{$mq-medium} {
            font-size: 4rem;
        }
    }

    .lg-text {
        font-size: 1.8rem;

        @media #{$mq-medium} {
            font-size: 2rem;
        }
    }

    .btn-xlrg.btn-blue {
        background-color: #326cec;
        display: inline-block;
        color: $white;
        text-transform: uppercase;
        font-size: 3rem;
        padding: 0 1.5rem;
        margin-bottom: 2rem;
        transition: all 0.2s ease;
        box-shadow: 0 0.5rem 0.5rem rgba(77, 77, 77, 0.6);

        &:hover {
            text-decoration: none;
            -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba(77, 77, 77, 0.4);
            transition: all 0.2s ease;
        }

        @media #{$mq-medium} {
            font-size: 4rem;
        }
    }

    .small-disclaimer {
        font-size: 1.2rem;
    }

    p {
        color: #4d4d4d;
    }
}

.coupon {
    margin: 3rem auto;
    padding: 1rem;
    text-align: center;
    border: 5px dashed #333;
    width: 100%;

    &__header {
        background-color: #333;
        color: $white;
        padding: 5px;
        text-transform: uppercase;

        h3 {
            font-size: 6rem;
            text-align: center;
        }

        span {
            font-size: 3.5rem;
            font-weight: 700;
            line-height: 1.25;
        }

        @media #{$mq-medium} {
            padding: 5px 1.5rem;

            h3 {
                font-size: 12rem;
                text-align: left;
                letter-spacing: 2px;
            }

            span {
                font-size: 5rem;
            }
        }
    }

    &__body {
        margin-top: 2rem;
        h3 {
            font-size: 10rem;
        }

        &-logo {
            margin-bottom: 2rem;
        }

        &-bucky {
            display: none;

            @media #{$mq-medium} {
                display: block;
            }
        }
    }

    &__code {
        background-color: #333;
        padding: 5px;
        height: 7rem;
        width: 65%;
        margin: auto;

        &-text {
            display: inline-block;
            background-color: #fff;
            color: #333;
            padding: 0 1rem;
            float: left;
            margin-right: 1.5rem;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 2.5rem;
            height: 6rem;
            line-height: 6rem;
        }

        &-id {
            color: white;
            font-weight: 700;
            font-size: 5rem;
            line-height: 6rem;
        }

        &-store {
            color: $primary-color;
            font-weight: 700;
            margin-top: 1.5rem;
            font-size: 3.5rem;
            border-bottom: 1px solid gray;
            padding-bottom: 1.5rem;

            @media #{$mq-medium} {
                border-bottom: 0;
                padding-bottom: 0;
            }
        }
    }

    &__stores {
        font-weight: 700;
        margin-top: 2rem;
        font-size: 3rem;
    }

    &__footer {
        margin-top: 2rem;
        font-size: 1.1rem;
        text-align: justify;
        position: relative;

        p {
          margin-bottom: 1rem;
        }

        &-id {
            position: absolute;
            right: 0;
            bottom: -1.5rem;
            font-weight: 700;
            font-size: 1.6rem;
            margin: 0;
        }
    }

    @media #{$mq-medium} {
        width: 100rem;
    }
}

#merch-search .form-inline,
#merch-search .form-inline .form-group {
    position: relative;
}

#merch-search .form-inline .form-group {
    width: 100%;
}

#merch-search-term {
    width: 100%;
    padding-left: 6.5rem;
    font-size: 1.8rem;
}

#merch-search-submit {
    border: none;
    background-color: $primary-color;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5rem;
    color: $white;

    em {
        font-size: 3rem;
    }
}

#merch-searchclear {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 1.8rem;
    margin: auto;
    right: 1rem;
    font-size: 1.8rem;
    cursor: pointer;
    color: $light-gray-3;
}

@media #{$mq-small} {
    #merch-search .form-inline .form-group {
        max-width: 40rem;
    }

    #merch-search-term {
        padding-left: 1rem;
        font-size: 1.4rem;
    }

    #merch-search-submit {
        position: initial;
        width: auto;
        // background-color: transparent;
        // color: $black !important;

        em {
            font-size: 1.6rem;
        }
    }

    #merch-searchclear {
        height: 1.4rem;
        font-size: 1.4rem;
    }
}
