p.giftRegNameText,
p.giftRegShipText,
p.giftRegEmailSubText,
p.giftRegEmailMessageText {
    &::after {
        content: "*";
        color: $primary-color;
        font-size: 1.8rem;
    }
}

p.giftRegDateText,
p.giftRegMessageText {
    &::after {
        content: " (optional)";
        color: $dark-gray;
        font-size: 1.2rem;
    }
}
